[2015-01-09 17:59] kkasravi opened #747 "Add a d3 force-directed graph"
example is here
http://bl.ocks.org/mbostock/4062045

[2015-01-10 01:42] liquidpele commented on #747
It's one of the items I've looked at adding to https://github.com/nvd3-community/nvd3, but there are others I'm more interested in doing first... e.g. http://bl.ocks.org/mbostock/4348373

Feel free to add a model and send me a pull request though if you want :)

[2015-01-10 07:41] kkasravi commented on #747
Thanks, I'll fork and submit a PR that references this issue.

[2015-01-10 13:27] liquidpele commented on #747
Make sure you fork from nvd3-community then, and not this project ;)

[2015-01-10 17:53] kkasravi commented on #747
Ah ok. Thanks.

[2015-01-12 00:31] ptoche commented on #321
Here's a related approach:

http://stackoverflow.com/questions/27892806/css-styling-of-points-in-figure

The relevant code is this:

n$setTemplate(afterScript = '<style>
  .nv-point {
    stroke-opacity: 1!important;
    stroke-width: 6px!important;
    fill-opacity: 1!important;
  }
</style>'
)

[2015-01-12 10:17] liptga commented on #349
I do simply this in my "update" function before calling the chart update function:
[code]

You may need to select your svg different way. In my case that was the only one in the frame.

[2015-01-13 08:32] liptga commented on #468
Hi,

Are there any news here? :)

Regards,

Gábor

[2015-01-13 11:32] LeoAref opened #748 "Expand x-axis for the future data"
I have an API returns data about the people count for this week, and the API returns data for the elapsed days only.

I want to make x-axis display 7 days, and without making the remaining days in this week with "zero" values.

I want to make something like that...
![line-chart](https://cloud.githubusercontent.com/assets/6577222/5720132/903e3a16-9b28-11e4-8089-34711d3bfbf9.png)

[2015-01-13 19:42] NSudhir commented on #385
Hi can you send me the code for this chart?

[2015-01-13 19:51] NSudhir opened #749 "RE: Stack/Stream/Expanded Chart"
Hi i have a problem in rendering this chart. We are using analaytics api in our organization.Pulling the data from reports in sales force and displaying the data in the charts. I do no how to send a data in to a report which is of this structure
date	           IE	       Chrome	Firefox	Safari	Opera
11-Oct-13  41.62	  22.36	  25.58      9.13	  1.22
11-Oct-14  41.95	   22.15	   25.78	8.79

[2015-01-14 22:01] kdkavanagh commented on #594
Anyone find a fix for this?

[2015-01-15 09:37] IPWright83 commented on #747
@liquidpele Any chance you can get the Novus guys to issue a pull request to the readme of this project - directing people to the community version for more info? I always wondered if development had stopped, and it took a bit of digging and jumping to discover the community one.

[2015-01-16 13:57] HareramKumar opened #750 "Is it possible to set minimum width of bar for MultibarHorizontal chart?"
Hi
Is it possible to set minimum width of bar for MultibarHorizontal chart? What I mean is if I have values like 1000 for one stack and 4 for next stack, then 600 for next stack on same bar in that case 4 appears with very thin bar. So is it possible to set a minimum width like 20 or so?

Like in this example below you can see 4 or 3 are appearing with very thin bar, which is not visible for the u

[2015-01-19 19:36] jozefvaclavik commented on #748
Yeah, you wanna be playing with xDomain and xRange.. These values are set up by default from your data, but in most of the graphs you can override them.. Just play with them and you will see how it works..

[2015-01-20 04:25] LeoAref commented on #748
@jozefvaclavik OK, I'll try to play with them and see if that do what I want, Thanks.

[2015-01-20 17:15] LeoAref commented on #748
@jozefvaclavik , can you please help me with controlling the chart grid
I want to show grid x-axis with the same number of the values, so if the chart displays 10 values on x-axis >> grid has 10 vertical gray lines.

[2015-01-21 02:26] dsm0880 commented on #48
I found a very easy fix for those who don't want to introduce new JavaScript. Basically I over road the css class .nvtooltip, since the position is set to absolute I simply added a top attribute of ~50px (top:50px) and that seemed to get the tooltip off of the graph so the cursor no longer moves over it. I hope this helps someone.

[2015-01-21 14:03] TripleFun-Camille commented on #479
@soheilbm In the meantime, you can do it, here is an example :
https://gist.github.com/timelyportfolio/80d85f78a5a975fa29d7#file-code-r

Not easy to refactor / integrate, but definitely works.

[2015-01-21 22:08] kkasravi commented on #747
created the issue here https://github.com/nvd3-community/nvd3/issues/40

[2015-01-21 22:08] #747 closed

[2015-01-24 09:01] Vineeth-Mohan commented on #474
I am also looking for the same.
This is exactly what i am looking for - http://www.highcharts.com/demo/line-time-series

[2015-01-26 19:13] hurricanemichael opened #751 "Line color as gradient?"
Using nv.models.linechart, is it possible to set the color of a line to a gradient instead of a static color?

For example, in D3, http://bl.ocks.org/mbostock/3969722 (Gradient Encoding) allows this.

Essentially, I want my line to be red above a Y value, and Blue below the same Y value.

Any help would be greatly appreciated.

[2015-02-02 14:46] romanrdgz commented on #311
Is it possible to use this feature to color only ceratin parts of the area? For example, color the area only when the sin is greater than 0. That would be useful for me

[2015-02-03 20:21] atav32 commented on #308
+1 pleeeeease

[2015-02-03 21:16] robinfhu commented on #751
This feature not supported at this time.

[2015-02-03 21:16] #751 closed

[2015-02-04 04:22] robinfhu commented on #748
@LeoAref yes, you can modify the data to contain 'null' values for the future points.  I believe 'null' is ignored by the line chart.

[2015-02-04 04:22] #748 closed

[2015-02-04 04:23] robinfhu commented on #746
See if you can use the staggerLabels feature:

lineChart.xAxis.staggerLabels(true);

[2015-02-04 04:23] #746 closed

[2015-02-04 04:24] robinfhu commented on #741
Thanks @liquidpele

[2015-02-04 04:24] #741 closed

[2015-02-04 04:25] robinfhu commented on #749
There are examples in the repository.  Those should explain how to format the data for the chart.

[2015-02-04 04:25] #749 closed

[2015-02-04 04:25] #742 closed

[2015-02-04 04:25] #738 closed

[2015-02-04 04:25] robinfhu commented on #740
Thanks @liquidpele

[2015-02-04 04:25] #740 closed

[2015-02-04 04:26] robinfhu commented on #740
I will investigate and make sure the right d3 version is being used.

[2015-02-04 04:28] robinfhu commented on #308
Agreed, let me see what this nv.dev thing is used for...

[2015-02-04 04:41] robinfhu commented on #308
Changed nv.dev to false.

[2015-02-04 04:41] #308 closed

[2015-02-04 05:39] #737 closed

[2015-02-04 05:39] #735 closed

[2015-02-04 05:39] #732 closed

[2015-02-05 02:28] robinfhu commented on #736
Thanks @liquidpele

[2015-02-05 02:28] #736 closed

[2015-02-05 02:28] #734 closed

[2015-02-05 02:28] robinfhu commented on #733
We have examples in the examples/ folder of graphs side by side. Can you look to see if the issue is present there?

[2015-02-05 02:28] #733 closed

[2015-02-05 02:29] #730 closed

[2015-02-05 02:29] robinfhu commented on #728
Thanks, not necessary right now though.

[2015-02-05 02:29] #728 closed

[2015-02-05 02:30] robinfhu commented on #727
@liquidpele  is right.

[2015-02-05 02:30] #727 closed

[2015-02-05 02:31] robinfhu commented on #722
Thanks for letting us know!

[2015-02-05 02:31] #722 closed

[2015-02-05 02:31] #724 closed

[2015-02-05 02:32] #726 closed

[2015-02-05 02:32] #721 closed

[2015-02-05 02:32] #719 closed

[2015-02-05 02:32] #723 closed

[2015-02-05 03:33] robinfhu opened #753 "Fix the test pages in the test/ folder"
In the 'massive-merge' branch, the test pages are broken (bad links).  Those should be fixed.

Also make sure unit tests work.

[2015-02-05 13:17] robinfhu commented on #753
Unit tests fixed.

[2015-02-05 14:37] robinfhu commented on #753
This is done.

[2015-02-05 14:37] #753 closed

[2015-02-06 16:33] robinfhu opened #754 "Interactive Bisect code broken for d3 3.5"
These tests currently break in the development branch:

     ✗ accessor in index mode - existing item
	expected 1 to equal 7

      ✗ accessor in index mode - inbetween item 1
	expected 1 to equal 7

      ✗ accessor in index mode - inbetween item 2
	expected 1 to equal 8

Question: why doesn't this code work with d3 v3.5?

[2015-02-06 16:49] portante commented on #754
I think because of https://github.com/mbostock/d3/wiki/Arrays#d3_bisector.

Bisector now considers the given function as an accessor if it has one parameter and as a comparator if it has two, and we always use two.

Will post a proposed fix.

[2015-02-06 17:27] robinfhu commented on #754
Yes I just saw: https://github.com/mbostock/d3/commit/3c7cc81b6233289263525b581d635ad9f8d9dd37

This screws up my logic.  Yeah would love to see a fix.

[2015-02-06 17:44] liquidpele opened #755 "Discussion of branching and dev practices"
@portante @robinfhu @joshjordan

Okay, so to avoid confusion/etc I'd like to propose the following:
1. We use the development branch for merging in changes and pull requests
2. When we want to cut a new version, we do it from development, merge that into master and gh-pages and then create a version tag off that (tag should be x.x.x semver format, without the v in front, as specified by bower's do

[2015-02-06 19:28] portante commented on #755
@liquidpele, sounds fine to me, as I also like the code reviews.

I'd also like to see us lean heavily on unit tests.  We should work to make sure we have unit tests for the UI first, so that new changes to break existing contracts, which should ease user's concerns.

Second, I'd like to see this repo moved from `novus` organization to a community run organization for `nvd3`.  We recently moved cm

[2015-02-06 19:32] robinfhu commented on #755
Unit tests are much needed, and I hope the tests we wrote in the tests/mocha directory are a good starting point.  Also, did you know that I added code coverage reporting?  It shows up in the 'coverage' folder when you run grunt.

Pull requests from a personal fork are a good idea.

Also, how does one move a repo from an organization?

[2015-02-06 19:33] robinfhu commented on #755
Nevermind, reading https://help.github.com/articles/transferring-a-repository/ now

[2015-02-08 01:13] jhurtadom opened #756 "change controlLabels disable Controls in multiBarChart"
In the next code, everything works until I introduce the next line:

chart.controlLabels({ "stacked": "Apilado","grouped": "Agrupado" });

then Controls (to change between 'Grouped' and 'Stacked') fails.

[code]

[2015-02-08 01:27] liquidpele commented on #756
Ah... bug from a pull request, simple fix though, I put it into the nvd3-community dev branch.   Link to the commit is above via reference to this bug.

Thanks for the report, let me know if you have further issues!

[2015-02-08 01:39] jhurtadom commented on #756
Thank you! You was so fast! Great job!

2015-02-08 2:27 GMT+01:00 liquidpele <notifications@github.com>:

[2015-02-09 00:02] tsenga commented on #755
What are your plans re: documentation? A while ago, I did various updates to the novus wiki - happy to recreate on nvd3-community wiki, unless there are other plans?

[2015-02-09 00:11] joshjordan commented on #755
@liquidpele I'm a strong supporter of the dev branching workflow you laid out. Seems like there are no objections, so let's go with that.

@robinfhu Seems like we are pretty well aligned on testing. I think we should unit testing as a goal, and draw a line the sand. Since this code is relatively stable right now, let's say that we don't accept new functionality with proper test coverage, and for b

[2015-02-09 00:27] joshjordan commented on #706
@liquidpele can we close this now?

[2015-02-09 00:51] robinfhu commented on #706
I've merged in liquidpele's changes to our branch.

[2015-02-09 00:51] #706 closed

[2015-02-09 01:07] jedbrown opened #758 "Support for logarithmic axes"
My current need is for scatterChart, but this seems better to do in a way that would work across all the chart types. I can work on this, but I'm new to nvd3 so would appreciate some guidance about implementation.

[2015-02-09 01:12] robinfhu commented on #758
Okay, so this may be kind of hard to implement, but maybe you can indeed work on this.  Obviously this resource will help: https://github.com/mbostock/d3/wiki/Quantitative-Scales

So  one idea may be to look at places where d3.scale.linear() is being used, and replace it with log()?  And you also have to worry about the axis.js file.  This is just a starting point.

[2015-02-09 01:27] #14 closed

[2015-02-09 01:29] robinfhu commented on #29
Don't use an ordinal scale.

Instead, set chart.x(function(d,i){ return i;})
And then in the chart.xAxis.tickFormat function, return the label you want to show depending on the index.

[2015-02-09 01:29] #29 closed

[2015-02-09 01:30] robinfhu commented on #34
Not enough detail

[2015-02-09 01:30] #34 closed

[2015-02-09 01:30] #42 closed

[2015-02-09 01:30] #48 closed

[2015-02-09 01:30] #49 closed

[2015-02-09 01:31] robinfhu commented on #86
You can also install just with bower install git://github.com/novus/nvd3.git

[2015-02-09 01:31] #86 closed

[2015-02-09 01:31] #89 closed

[2015-02-09 01:32] #67 closed

[2015-02-09 01:33] robinfhu commented on #116
I'd like jshinting, but I'm afraid it'll be a ton of work to get the code up to standards.   In a few days I'll experiment with some configurations that work well.

[2015-02-09 01:33] #118 closed

[2015-02-09 01:33] #148 closed

[2015-02-09 03:31] joshjordan opened #760 "Interactive guideline tooltip was broken for d3.js 3.5"
Moving this comment here from the `README` so we can track it as task.

[2015-02-09 03:57] robinfhu commented on #760
Yeah this is causing the 'development' branch tests to fail.  Still thinking of a solution...

[2015-02-09 04:03] robinfhu commented on #725
All charts should have a 'forceY' option.  This is defined in scatter.js.  You can specify values that are forced onto the y-scale.

[2015-02-09 04:03] #725 closed

[2015-02-09 04:04] robinfhu commented on #725
Example:
lineChart.forceY([95])

[2015-02-09 04:05] robinfhu commented on #750
It's not possible now, but perhaps you can handle this yourself?  You need to preprocess your data so that very small values have a minimum value.

[2015-02-09 04:05] #750 closed

[2015-02-09 04:08] #720 closed

[2015-02-09 04:08] robinfhu commented on #718
lineChart.xAxis.rotateLabels(90);

[2015-02-09 04:08] #718 closed

[2015-02-09 04:12] robinfhu commented on #755
Just a note: I'm usually okay with configuration level changes (like README, bower.json, package.json, travis.yml) to go straight into 'master'.

[2015-02-09 13:29] portante commented on #754
@robinfhu, if you have a better solution, I'm all ears, but it appears that D3 broke the API contract as of v3.4.4.

[2015-02-09 13:40] VitalyTomilov opened #763 "1.7.1 broke IE support for pie charts"
I'm using 1.7.1, pie chart, and the chart appearance + hovering appear quite broken under IE 10-11. Changing back to version 1.2.0 solves the issue.

[2015-02-09 13:50] liquidpele commented on #763
The curse of IE continues...  I knew the hover was broken on IE10, but I can't reproduce any issues on IE11.

For reference, I'm testing using this:  https://nvd3-community.github.io/nvd3/examples/donutChart.html

[2015-02-09 13:52] liquidpele commented on #763
Also I'm not sure how it worked in 1.2.0 since there was a really old bug report about the same thing...

[2015-02-09 13:53] liquidpele commented on #715
Should be fixed with the latest version.

[2015-02-09 13:53] #715 closed

[2015-02-09 14:24] VitalyTomilov commented on #763
My current usage path: D3 (3.5.4) -> NVD3 (1.2.0) -> Angular (1.3.13) -> Angular NVD3 (0.0.9)

It is easy to get lost where the issue arises. So far as I can see upgrading NVD3 to v1.7.1 breaks the pie chart when hovering over in IE11 for sure, while with 1.2.0 this doesn't happen.

That example you use relies on v.1.7.0 that never existed, as far as the GitHub versioning goes.

[2015-02-09 14:30] robinfhu commented on #760
Solved by https://github.com/novus/nvd3/pull/762

[2015-02-09 14:30] #760 closed

[2015-02-09 14:42] portante commented on #754
@robinfhu, looks like we can close this one now.

[2015-02-09 14:57] robinfhu opened #765 "Tooltip Ghosting issue (introduced in development branch)"
An issue must have been introduced when all the tooltip code was changed in: https://github.com/novus/nvd3/commit/5cba3b425c5c

See my screenshot video:
![line chart tooltip bug](https://cloud.githubusercontent.com/assets/3769532/6108509/e2748230-b041-11e4-9506-496673caaa11.gif)

If you move the mouse kind of fast, it introduces a 'ghost' tooltip that briefly shows up and goes away.  This is happe

[2015-02-09 15:24] tsenga commented on #755
@joshjordan Key gaps in my mind are in the 'user guide' style material: in particular, more around the data model (& some of the gotchas), the interaction/event model and maybe an article focusing on updating charts with live data.

[2015-02-09 15:35] liquidpele commented on #763
Well, for starters try the latest nvd3 version 1.7.1 which was brought over from nvd3-community... it has a lot of rewrite so any issues should be tested against that first.  However, I did reproduce issues with IE10 at least, so at some level this is a bug and we'll try to look at it :)

If you can give us a jsfiddle that shows the IE11 issue (without angular, just nvd3 please) using the latest n

[2015-02-09 15:39] liquidpele commented on #755
Yep, the two things I had on my plate to still document were:

1. the data layout and stream attribute options for each chart
2. the dispatches available for each chart

I'd like to make those auto-documented like the other options, just never got around to it yet.  Big fan of having this auto-generated into the docs, even if it's just placeholder, so you can easily keep track of things :)

[2015-02-09 15:51] tsenga commented on #755
Agree. More auto-documentation the better. Then just a few introductory articles that guide the user through the high-level concepts and allow them to make use of the auto-generated detail.

[2015-02-09 15:58] petersondrew commented on #765
@robinfhu I do have a github account! The commits must have been done with my work email address.

I'll take a look, do you have a repro that I can start looking at?

[2015-02-09 16:22] liquidpele commented on #765
are... are we creating/destroying the tooltip instead of just moving it?

[2015-02-09 16:42] robinfhu commented on #765
Hi @petersondrew  thanks for getting back!  To reproduce, pull the latest 'development' branch, open the file: test/lineChartTest.html

[2015-02-09 16:45] petersondrew commented on #765
@liquidpele When you move the mouse it just uses css transforms to move the tooltip.
@robinfhu This was done without using fastdom, correct? Just using the lineChartTest as-is?

[2015-02-09 16:59] petersondrew commented on #765
@robinfhu Ah ok, it looks like it's happening only when the mouse leaves the chart and comes back. What's supposed to happen, and what happens in the branch I made my changes to the tooltip code in, is the tooltip element is hidden when leaving the chart and shown again when returning. Something must have broken that since I submitted my PR.
I'll take a look and see if I can figure out what's goin

[2015-02-09 16:59] marclaporte commented on #765
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  marc@laporte.name
    Domain marclaporte.com has exceeded the max emails per hour (317/300 (105%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inc

[2015-02-09 17:07] petersondrew commented on #765
@robinfhu @liquidpele  It would appear the problem is (here)[https://github.com/novus/nvd3/blob/master/src/tooltip.js#L487]. When mousing out of the chart that throws an exception because the parentNode of removeMe is null.

I'll see if I can find why that's happening, if you beat me to it let me know!

[2015-02-09 17:08] robinfhu commented on #765
@petersondrew thanks, see if you can fix it and submit a PR.  Also, I don't really know what 'fastdom' is.  Is it this: https://github.com/wilsonpage/fastdom

Is it another library we need to include?

[2015-02-09 17:13] petersondrew commented on #765
@robinfhu It looks like 09df70f3 reverted the cleanup code from my original PR.
@RenatoUtsch can you fill us in on why you reverted the cleanup code from my PR? Did it break something?

[2015-02-09 17:13] petersondrew commented on #765
@robinfhu That is fastdom, it's an optional dependency. If we find it at runtime the code uses batched dom operations to avoid thrashing the dom.

[2015-02-09 17:18] portante commented on #765
@petersondrew, can we end this cycle with a unit test that covers the functionality that you expect and also ensures the regression is not happening as well?

[2015-02-09 17:22] portante commented on #554
@sudheesh001, please check out the development branch as of https://github.com/novus/nvd3/commit/b0142818b07ab9d2b29ff5aaccd516863c311af6, you should see that now nvd3 is working with 3.4.4 and later, but NOT with any version earlier.

[2015-02-09 17:26] petersondrew commented on #765
@portante Yes at this point that's probably a must.

[2015-02-09 17:48] petersondrew commented on #765
FYI - The PR that introduced the regression is https://github.com/nvd3-community/nvd3/pull/51

[2015-02-09 18:27] RenatoUtsch commented on #765
@petersondrew I reverted the cleanup code from your PR because it stopped to actually remove the divs after the user moused out.
This would be OK if the tooltip div was reused instead of creating a new one, but when I made this second pull request, new divs were being created instead of reusing the existing one.

Looking back now, this is probably because of the other regression I made in PR #42 (

[2015-02-09 18:57] petersondrew commented on #765
@RenatoUtsch I wonder if you were missing the CSS rules in your branch? As soon as the tooltip is marked for removal the CSS rules for that class would hide it, which is how it was working when I submitted my PR.

I'm going to restore the tooltip creation and cleanup functions to how they were prior to your pull request and add some additional unit tests if necessary.

[2015-02-09 21:10] RenatoUtsch commented on #765
It is not the CSS rules. The problem is with the ids. If you try to reference a div with a certain id that was created inside a shadow dom from outside the shadow dom, the search for the div's id will return nothing.

This is a problem with how the tooltip code works in nvd3. I will have to devise a better solution for it.

[2015-02-09 21:12] petersondrew commented on #765
Understood, I was thinking your shadow dom integration issue was only related to tooltip creation, not hiding as well.

[2015-02-09 21:14] RenatoUtsch commented on #765
The issue is that the CSS properties are never applied because of trying to identify the tooltips by the id, when it is in the shadow dom.

Anyway, sorry for the problems with the rollback.

[2015-02-09 21:29] petersondrew commented on #765
No worries

[2015-02-10 01:01] benderTheCrime opened #768 "Replace tooltip position utility functions with d3.mouse(container)"
We can trim ~100 lines of code from the tooltip code and still product the expected result by performing all necessary positioning using d3.mouse on the container and then transforming using the gravity and distance. This is to some extent related to https://github.com/novus/nvd3/issues/765. I have  sneaking suspicion this has something to do with performance. Happy to make a commit/PR reflecting

[2015-02-10 02:08] robinfhu commented on #554
Yeah nvd3 as it stands now doesn't work with d3 3.4.4 or later.  We have a fix in the development branch.

[2015-02-10 02:08] #554 closed

[2015-02-10 02:10] robinfhu commented on #554
Linked https://github.com/novus/nvd3/issues/760

[2015-02-10 02:18] robinfhu commented on #768
Submit a PR with your fix, and if things still work in all the browsers we'll accept it.

[2015-02-10 02:18] #768 closed

[2015-02-10 02:29] liquidpele commented on #768
I'm a bit curious about this, since we've had a lot of reports of the tooltip positioning not working in all cases.  Can you make a pull request or at least an example of how this would work and what makes it a better solution?

[2015-02-10 02:30] liquidpele commented on #765
I'll leave verifying/closing this to robin since he saw the original issue.

[2015-02-10 02:32] liquidpele commented on #717
No, the view finder is limited to only 2 models currently but we'd like to expand that, feel free to send us a pull request to help out :)

[2015-02-10 02:32] #717 closed

[2015-02-10 02:33] robinfhu commented on #765
This has been solved

[2015-02-10 02:33] #765 closed

[2015-02-10 02:33] Phisherman commented on #717
Thanks for the late answer.

[2015-02-10 02:36] liquidpele commented on #714
Send us a pull request that implements support for them and we'll take a look!   :)

[2015-02-10 02:36] #714 closed

[2015-02-10 02:38] liquidpele commented on #712
This bug should be fixed in the latest novus version now, please re-open if you have further issues, thanks for reporting!

[2015-02-10 02:38] #712 closed

[2015-02-10 02:39] #710 closed

[2015-02-10 02:42] liquidpele commented on #709
Please send us a pull request if you're interested in modifying the current behavior, thanks!

[2015-02-10 02:42] #709 closed

[2015-02-10 02:42] joshjordan commented on #420
This was a bug with `d3`.

[2015-02-10 02:42] #420 closed

[2015-02-10 02:43] liquidpele commented on #708
new version should be fixed, thanks for reporting!

[2015-02-10 02:43] #708 closed

[2015-02-10 02:50] liquidpele commented on #703
You'll need to send us a pull request  that handles only the issue itself

[2015-02-10 02:50] #703 closed

[2015-02-10 02:51] liquidpele commented on #702
Should be fixed in latest novus version.

[2015-02-10 02:51] #702 closed

[2015-02-10 02:54] liquidpele commented on #701
Yea, I think the legend should handle more items than it currently does.   As I said in a similar issue brought up in nvd3-community, I think after a certain number the legend should hide the label text and display it on hover over the dots or something.   However, keep in mind that there are only so many colors that look different so too many data points is going to be confusing... ideally you ne

[2015-02-10 02:56] liquidpele commented on #694
Seems fine to me...

[2015-02-10 02:56] #694 closed

[2015-02-10 02:59] liquidpele commented on #695
The series (d) should be an object not an array, and by default just make the x an y values as attributes of the object using 'x' and 'y' as the attribute name.

[2015-02-10 03:01] liquidpele commented on #693
Can you not call the showLegend(false) option and then call chart.update() ?

https://nvd3-community.github.io/nvd3/examples/documentation.html  Look at the showLegend options available.

[2015-02-10 03:02] robinfhu commented on #701
I mean, how much is "large count"?  Do you think the below chart is reasonable?
![pie with lots of legend](https://cloud.githubusercontent.com/assets/3769532/6120705/231053fe-b0a7-11e4-920c-9b68ead6ae3a.jpg)

Visualizations should have meaningful limits.

[2015-02-10 03:03] liquidpele commented on #692
sorry and thanks :)

[2015-02-10 03:03] #692 closed

[2015-02-10 03:09] liquidpele commented on #670
I think I might have fixed this (along with a bunch of other stuff), please check the latest version 1.7.1 and see if you still have any issues... closing for now, please re-open if needed :)

[2015-02-10 03:09] #670 closed

[2015-02-10 03:11] liquidpele commented on #672
Interesting... hey everyone else, is it supposed to do that?  I didn't even think it was supposed to add new lines unless you called chart.udpate()

[2015-02-10 03:13] liquidpele commented on #675
Don't re-bind via datum, just update the object data itself and call chart.update().  As-is, you're re-building the whole chart from scratch which is why it resets.

[2015-02-10 03:13] #675 closed

[2015-02-10 03:13] robinfhu commented on #672
This is how it is supposed to work. chart.update() must be called after modifying the data.  This isn't like angularJS where there is two way data binding.

[2015-02-10 03:13] #672 closed

[2015-02-10 03:14] liquidpele commented on #681
Please test with the latest code, I fixed a lot of stuff around multichart, thanks!   Closing for now, pelase re-open if it's still an issue!   :)

[2015-02-10 03:14] #681 closed

[2015-02-10 03:18] liquidpele commented on #676
Yea, looks to be a missing option there... Implement it and send us a pull request :)

[2015-02-10 03:20] robinfhu commented on #676
Not necessarily a missing option; it's missing by design. For a multi-bar chart it's hard to show values on top of each bar without things overlapping.  Unless you rotate the labels vertically?  See what I mean?   If you find a cool solution submit a PR and let us know.

[2015-02-10 03:20] #676 closed

[2015-02-10 03:20] liquidpele commented on #707
Feel free to send us a pull request with a fix... to get you started, someone did similar with lines in this commit:

https://github.com/nvd3-community/nvd3/commit/14b686ece509154ef5e8573e0aca8570936387ef

[2015-02-10 03:21] #691 closed

[2015-02-10 03:21] #686 closed

[2015-02-10 03:22] liquidpele commented on #684
single point should be working in latest code :)

[2015-02-10 03:22] #684 closed

[2015-02-10 03:22] liquidpele commented on #682
Looks like this is answered :)

[2015-02-10 03:22] #682 closed

[2015-02-10 03:24] liquidpele commented on #669
To override css in a style attribute, us the "!important" option in your CSS.   Cheers.

[2015-02-10 03:24] #669 closed

[2015-02-10 03:24] #658 closed

[2015-02-10 03:46] robinfhu commented on #713
It's weird. I think the key being mangled is too long of a string, and our code is somehow not handling that right.  Workaround for now is to just shorten the key to something else.

[2015-02-10 03:48] robinfhu commented on #711
See the example we have in the examples/ folder. There is a working chart there. No reason why this shouldn't work.

[2015-02-10 03:48] #711 closed

[2015-02-10 03:49] robinfhu commented on #700
I don't understand your request.  Can you please upload some diagrams explaining what you mean and then re-open this. Thanks.

[2015-02-10 03:49] #700 closed

[2015-02-10 03:51] robinfhu commented on #698
It is probably this line that is causing the problem:
x: function(d){ return d[0];}

If the x-values are not evenly spaced, the bars won't be either.  The only way to get evenly spaced bars is to return the "index" in your x accessor function, like this:

x: function(d,i) { return i;}

[2015-02-10 03:51] #698 closed

[2015-02-10 03:52] robinfhu commented on #693
chart.showLegend(false);
chart.update();

[2015-02-10 03:53] robinfhu commented on #693
Actually, i take that back.  There is no way to hide the legend after creating it.  The only way is to initialize the chart with showLegend(false).

You can also try using CSS to hide it later on.

[2015-02-10 04:26] liquidpele commented on #693
Looked into this, it seems even if you add a .remove() on legendWrapper, the code overrides margin.top with legend.height() so you essentially lose the top margin the user specified, but it's not too bad to have to fix up...  I'll add the ability to multichart after https://github.com/novus/nvd3/pull/767 gets merged in.

Re-opening as I think this is a worthwhile feature.

[2015-02-10 04:27] #642 closed

[2015-02-10 04:32] liquidpele commented on #644
There are working examples in the examples dir that use tickFormat.... e.g.   chart.yAxis1.tickFormat(d3.format(',.1f'));

Please give a jsfiddle or something demoing the example problem.  Closing for now though.

[2015-02-10 04:32] #644 closed

[2015-02-10 04:34] #654 closed

[2015-02-10 04:37] liquidpele commented on #652
Closing for now, please provide a jsfiddle or plunkr example if the issue persists with the latest version of nvd3, thanks!

[2015-02-10 04:37] #652 closed

[2015-02-10 04:37] #648 closed

[2015-02-10 04:38] robinfhu commented on #693
+1

[2015-02-10 04:40] liquidpele commented on #650
You just save the data objects and can modify them as needed.

You call chart.update() to update the chart.

No idea without a code example on jsfiddle or similar :)

[2015-02-10 04:40] #650 closed

[2015-02-10 04:41] liquidpele commented on #631
This chrome issue should be fixed in the latest version, cheers.

[2015-02-10 04:41] #631 closed

[2015-02-10 04:42] liquidpele commented on #628
Fixed.

[2015-02-10 04:42] #628 closed

[2015-02-10 04:43] liquidpele commented on #623
submit a pull request if you'd like, glad you got it working, cheers!

[2015-02-10 04:43] #623 closed

[2015-02-10 04:45] liquidpele commented on #624
Multiple graphs per page should work fine, not sure why you'd see this but I suspect the data/options you're passing the graphs isn't quite correct.

[2015-02-10 04:45] #624 closed

[2015-02-10 08:39] jenslonkowski commented on #428
Another solution for me is to use the context (this) as a conditional inside the tickFormat function of the yAxis object:
[code]

[2015-02-10 13:14] liquidpele commented on #638
You can either use the x and y options to override the actual values to be integers, or you can use the tooltipContent option to override the whole tooltip.  There isn't specifically a tooltip format value function you can override currently, but send us a pull request if you write one!

[2015-02-10 13:14] #638 closed

[2015-02-10 13:14] #639 closed

[2015-02-10 13:21] liquidpele commented on #640
Verified this is still a bug.   When using 2 lines, trying to disable the 2nd line just makes it turn the same color as line 1, and trying to show only the second line shows nothing.

[2015-02-10 13:22] liquidpele commented on #633
Fixed in latest version, thanks for reporting!

[2015-02-10 13:22] #633 closed

[2015-02-10 13:23] liquidpele commented on #646
This is really old so closing, if you still have the issue please open a new issue with a working jsfiddle or something showing the issue.

[2015-02-10 13:23] #646 closed

[2015-02-10 13:26] liquidpele commented on #651
forceY takes an array of values, not functions.

[2015-02-10 13:26] #651 closed

[2015-02-10 13:27] liquidpele commented on #625
You need to sort your data by the x value, otherwise the line jumps back and forth.

[2015-02-10 13:27] #625 closed

[2015-02-10 13:28] liquidpele commented on #621
Should be fixed on latest version.

[2015-02-10 13:28] #621 closed

[2015-02-10 13:36] liquidpele commented on #619
I updated the referenced jsfiddle with 1.7.0 and it looks to still be an issue, but really only seems to be for small numbers of bars...  worth fixing?

http://jsfiddle.net/n2hfN/76/

[2015-02-10 13:37] liquidpele commented on #612
Not currently, but we'd welcome pull requests :)

[2015-02-10 13:37] #612 closed

[2015-02-10 13:38] liquidpele commented on #614
You can add or update a series and then call chart.update().   There are currently issues with removing a series though, just fyi.

[2015-02-10 13:38] #614 closed

[2015-02-10 13:40] gopalyadav5 opened #769 "Tooltip doesn't work with MultiBarChart or LineChart in mobile app build over Ionic"
Currently I am using MultiBarChart and LineChart of nvd3 library . Everything works fine on web browser but tooltip does not work in hybrid mobile app which is build over Ionic Framework.

There should be a way to call tooltip on touch events or tap event or clicking event.

[2015-02-10 13:41] liquidpele commented on #607
multibarchart does not have a forceX function, just forceY...

http://nvd3-community.github.io/nvd3/examples/documentation.html#multiBarChart

We would welcome pull requests to increase such functionality though!

[2015-02-10 13:41] #607 closed

[2015-02-10 13:43] liquidpele commented on #602
Probably still an issue.

[2015-02-10 13:44] liquidpele commented on #605
Appears to be building it within another framework which is causing problems.  If you can reproduce things with only nvd3 in a jsfiddle please re-open, closing for now.

[2015-02-10 13:44] #605 closed

[2015-02-10 13:44] liquidpele commented on #603
Please send up pull requests for any cool and new functionality you create, thanks!

[2015-02-10 13:44] #603 closed

[2015-02-10 13:46] liquidpele commented on #593
You can hide the legend and build your own if you like, just add "disabled" attribute to the series to disable it and call chart.update, or dispatch the state to the chart.

[2015-02-10 13:46] #593 closed

[2015-02-10 13:48] liquidpele commented on #589
You'd need to implement it and send us a pull request.  Thanks!

[2015-02-10 13:48] #589 closed

[2015-02-10 13:48] liquidpele commented on #588
Nope, feel free to implement something and send us a pull request, thanks!

[2015-02-10 13:48] #588 closed

[2015-02-10 13:49] liquidpele commented on #579
Most of the control labels were made customizable now, check out the latest version and the docs at http://nvd3-community.github.io/nvd3/examples/documentation.html, thanks!

[2015-02-10 13:49] #579 closed

[2015-02-10 13:50] liquidpele commented on #574
There is not a way to disable items in the legend itself, but you can set a series to be off by default using the "disabled" attribute on the series.

[2015-02-10 13:50] #574 closed

[2015-02-10 13:51] liquidpele commented on #566
the forceX and forceY option on the line chart can do this by forcing particular points on the axis.

[2015-02-10 13:51] #566 closed

[2015-02-10 13:54] liquidpele commented on #518
There are code examples out there to export an svg as a PNG, but it's really beyond the scope of the chart itself... I guess we could add a helpfer function to do so in the util block but really this is probably more of a pull request thing if someone needs the functionality and wants to do it.

[2015-02-10 13:54] #518 closed

[2015-02-10 13:55] liquidpele commented on #500
Looks like they figured it out from teh stackovervlow link.

[2015-02-10 13:55] #500 closed

[2015-02-10 13:56] #496 closed

[2015-02-10 13:56] liquidpele commented on #494
fixed in latest.

[2015-02-10 13:56] #494 closed

[2015-02-10 13:56] liquidpele commented on #491
don't use IE8... ew.

[2015-02-10 13:56] #491 closed

[2015-02-10 13:57] liquidpele commented on #490
You'll want to build it in html and set/unset the "disabled" attribute on the series in question and then call chart.update, or dispatch the state to the graph using chart.dispatch.

[2015-02-10 13:57] #490 closed

[2015-02-10 14:00] liquidpele commented on #488
Please provide a jsfiddle or similar that reproduces the problem using the latest version, thanks!  Closing for now.

[2015-02-10 14:00] #488 closed

[2015-02-10 14:01] liquidpele commented on #470
You can build the feature within nvd3 yourself, or use d3 to adjust the svg if you wanted.

[2015-02-10 14:01] #470 closed

[2015-02-10 14:02] #466 closed

[2015-02-10 14:03] liquidpele commented on #640
Duplicate of https://github.com/novus/nvd3/issues/463

[2015-02-10 14:03] #640 closed

[2015-02-10 14:03] liquidpele commented on #445
Should be working in latest version.

[2015-02-10 14:03] #445 closed

[2015-02-10 14:04] liquidpele commented on #428
Probably worth doing this, tagging as enhancement request.

[2015-02-10 14:07] liquidpele commented on #412
Should be working fine now.

[2015-02-10 14:07] #412 closed

[2015-02-10 14:07] liquidpele commented on #407
in progress http://nvd3-community.github.io/nvd3/examples/documentation.html

[2015-02-10 14:07] #407 closed

[2015-02-10 14:07] liquidpele commented on #405
shoudl be fixed.

[2015-02-10 14:07] #405 closed

[2015-02-10 14:07] liquidpele commented on #403
shoudl be updated.

[2015-02-10 14:07] #403 closed

[2015-02-10 14:09] liquidpele commented on #408
Please see if you can reproduce with the latest version.  Since this is over a year old I'll close for now, please re-open if you can reproduce, thanks!

[2015-02-10 14:09] #408 closed

[2015-02-10 14:10] liquidpele commented on #424
should be fixed in latest.

[2015-02-10 14:10] #424 closed

[2015-02-10 14:11] Martin1887Privado commented on #700
Sorry, I fixed it restructuring data array before calling chart, I though that I had commented it. Issue is correctly closed.

[2015-02-10 14:11] #366 closed

[2015-02-10 14:12] liquidpele commented on #360
Probably was due to lack of modern svg/js, any updated iProduct at this poitn should work.

[2015-02-10 14:12] #360 closed

[2015-02-10 14:14] liquidpele commented on #358
You'll have to adjust the svg container size accordingly, it *shouldn't* auto-adjust like that all by itself becaues it would change the overall page layout.

[2015-02-10 14:14] #358 closed

[2015-02-10 14:29] venu-gande commented on #702
I had the same problem. I just stopped using voronoi for tooltip.. Everything works fine now ..

[2015-02-10 14:35] liquidpele commented on #702
Should be fixed in latest nvd3 version 1.7.x+, thanks!

[2015-02-10 16:20] vishal1shukla2 opened #770 "multiBarChart or multiChart with focus"
Is it possible to have focus area like lineWithFocusChart & linePlusBarWithFocusChart. I would like to propose this feature if this is not possible already.

[2015-02-10 16:24] liquidpele commented on #770
It is not currently implemented, but feel free to code it up and send us a pull request!   We rely on a lot of community enhancement submissions :)

[2015-02-10 16:24] #770 closed

[2015-02-10 16:27] liquidpele commented on #357
the showValues(true) option should resolve this, cheers.

[2015-02-10 16:27] #357 closed

[2015-02-10 16:28] liquidpele commented on #356
You'll see this with too few data points, the lines need 2 points to connect, your left side isn'g including the next point there.

[2015-02-10 16:28] #356 closed

[2015-02-10 16:28] liquidpele commented on #354
Not a model currently, feel free to write one up and submit a pull request though!   :)

[2015-02-10 16:28] #354 closed

[2015-02-10 16:29] liquidpele commented on #352
examples page for nvd3-community is fixed up, or run the exmaples yourself manually by grabbing the source and viewing the index.html file!

[2015-02-10 16:29] #352 closed

[2015-02-10 16:49] liquidpele commented on #349
This was a bug that was brought up in nvd3-community too... we should handle removing data from the chart better, currently all kinds of bad stuff happens.

[2015-02-10 20:26] robinfhu opened #771 "Tooltips: nvtooltip-pending-removal div is not removed on multiBarChart"
On the development branch, when I open the file examples/multiBarChart.html, I mouse over the chart and I see the following:

![screen shot 2015-02-10 at 3 24 23 pm](https://cloud.githubusercontent.com/assets/3769532/6135754/082d0b76-b139-11e4-8e99-88473630f776.png)

When I inspect the DOM, there are lots of divs with 'nvtooltip-pending-removal' classed to them.

[2015-02-10 20:27] robinfhu commented on #765
@petersondrew I think there are still issues: https://github.com/novus/nvd3/issues/771

[2015-02-10 20:27] robinfhu commented on #771
@petersondrew can you please take a look?

[2015-02-10 20:52] RenatoUtsch commented on #771
I know that the bar charts use the old tooltip code, not the code that are used by the charts with interactive guideline (like the line chart).

[2015-02-10 21:52] robinfhu opened #773 "Scatter Charts: Axes Look and feel completely changed"
Okay, so I am starting to discover just how much has changed with NVD3.  @liquidpele , can you shed some light as to why our scatterChart look and feel changed so dramatically? The images were taken from test/ScatterChartTest.html

Old version (1.2)
![screen shot 2015-02-10 at 4 47 50 pm](https://cloud.githubusercontent.com/assets/3769532/6137189/f0f4479c-b144-11e4-8608-47f23eb82616.png)

New vers

[2015-02-10 21:53] #754 closed

[2015-02-10 21:55] robinfhu commented on #755
Okay, so further thoughts:
while unit tests are very useful, it is also important to visually inspect the charts after a code change.  Lots of issues with tooltips could have been prevented if contributors took a quick look at the test pages I set up, before checking in code.  Also check them on each browser.

[2015-02-11 00:25] #26 closed

[2015-02-11 00:29] liquidpele commented on #98
Should be fixed in latest :)

[2015-02-11 00:29] #98 closed

[2015-02-11 00:30] liquidpele commented on #152
https://nvd3-community.github.io/nvd3/examples/documentation.html

[2015-02-11 00:30] #152 closed

[2015-02-11 00:30] liquidpele commented on #161
Looks to be resolved.

[2015-02-11 00:32] liquidpele commented on #170
We should probably add a clearGraph utility function or something... or at least document this.

[2015-02-11 00:32] liquidpele commented on #173
The labels should be editable with the latest dev codes.

[2015-02-11 00:32] #173 closed

[2015-02-11 00:35] liquidpele commented on #189
I accepted a pull request that allowed aligning it on the right for pie charts at least... something to keep on about, so marking it enhancement and hopefully people can see how the pie charts are doing it and will expand on that.

[2015-02-11 00:36] liquidpele commented on #198
Should be all working in latest dev.

[2015-02-11 00:36] #198 closed

[2015-02-11 00:36] liquidpele commented on #199
IE8 isn't supported, and I made a check for console too so shoudl be fixed regardless.

[2015-02-11 00:36] #199 closed

[2015-02-11 00:38] liquidpele commented on #273
This needs more description about what you'd prefer... not sure what the "correct" thing is to do for giving a pie chart no values.

[2015-02-11 00:38] #273 closed

[2015-02-11 00:38] liquidpele commented on #265
This appears to be an edge case and they resolved it themselves via CSS.

[2015-02-11 00:38] #265 closed

[2015-02-11 00:39] liquidpele commented on #264
The getX thing was fixed, cheers.

[2015-02-11 00:39] #264 closed

[2015-02-11 00:41] liquidpele commented on #250
I typically do IE10+, do we want to support IE9?   Personally I feel like, XP being long unsupported, anyone on IE9 should be expected to upgrade, but maybe that's just me...

[2015-02-11 00:41] #250 closed

[2015-02-11 00:41] liquidpele commented on #233
3.4.4+ now, cheers

[2015-02-11 00:41] #233 closed

[2015-02-11 00:41] liquidpele commented on #229
I think this model was nuked?  closing.

[2015-02-11 00:41] #229 closed

[2015-02-11 00:42] liquidpele commented on #213
I did most of this in my cleanup.

[2015-02-11 00:42] #213 closed

[2015-02-11 00:42] liquidpele commented on #276
should be good at this point... I hope!

[2015-02-11 00:42] #276 closed

[2015-02-11 00:43] liquidpele commented on #284
Should be fixed I think, or at least adjustable with tick padding options.

[2015-02-11 00:43] #284 closed

[2015-02-11 00:43] liquidpele commented on #282
fixed in latest.

[2015-02-11 00:43] #282 closed

[2015-02-11 00:44] liquidpele commented on #285
should be fixed in latest.

[2015-02-11 00:44] #285 closed

[2015-02-11 00:44] petersondrew commented on #771
Hmm, I'll take a look when I get into the office tomorrow.

[2015-02-11 00:45] liquidpele commented on #294
Planning on it... aka sunburst!   It's my fav ❤❤❤

I plan to use this demo as the base:   http://bl.ocks.org/kerryrodden/477c1bfb081b783f80ad

[2015-02-11 00:46] liquidpele commented on #305
should be fixed.

[2015-02-11 00:46] #305 closed

[2015-02-11 00:46] liquidpele commented on #302
should be fixed.

[2015-02-11 00:46] #302 closed

[2015-02-11 00:47] liquidpele commented on #361
Duplicate of https://github.com/novus/nvd3/issues/189

[2015-02-11 00:47] #361 closed

[2015-02-11 00:48] liquidpele commented on #353
"transition" is an option now.

[2015-02-11 00:48] #353 closed

[2015-02-11 00:48] liquidpele commented on #224
Working in latest examples.

[2015-02-11 00:48] #224 closed

[2015-02-11 00:50] liquidpele commented on #351
fixed in latest:   http://jsfiddle.net/5Gqp6/8/

[2015-02-11 00:50] #351 closed

[2015-02-11 00:51] joshjordan commented on #250
While I agree with you in principle, the fact is that many companies
(especially in finance), are just stuck on IE9 and aren't going to move
from it any time soon. For the application I work on, we see ~5% of our
users on IE9, which is actually a larger share than IE10 (~2%). I don't
think a lot of folks are on IE10 because those that were willing to move to
IE10 have also moved to IE11 (~8% in ou

[2015-02-11 01:10] robinfhu commented on #763
I'm on IE-11, and aside from https://github.com/novus/nvd3/issues/771 which is everywhere, the chart looks and feels okay.

[2015-02-11 01:10] robinfhu commented on #771
Thanks. This is happening for pretty much any chart with the regular hover tooltip.

[2015-02-11 02:15] liquidpele commented on #773
so...   the xPadding and yPadding... I'm confused, they seem to vanish between commit 847a4bfa2319814f912e4f8ee8342eee31459b4d and 446e285f66965bf23e1e304c457fa6de7761571d but github doesn't show the commits as removing those!   Very strange...

https://github.com/novus/nvd3/commit/847a4bfa2319814f912e4f8ee8342eee31459b4d
https://github.com/novus/nvd3/commit/446e285f66965bf23e1e304c457fa6de7761571

[2015-02-11 04:11] liquidpele commented on #193
Not an option currently but if someone submits a pull request we could most likely accept it.

[2015-02-11 04:11] #193 closed

[2015-02-11 04:13] liquidpele commented on #227
This issue is too vague, please specify exact issues or demo them with a jsfiddle etc.

[2015-02-11 04:13] #227 closed

[2015-02-11 04:13] liquidpele commented on #238
duplicate of more recent tooltip issues.

[2015-02-11 04:13] #238 closed

[2015-02-11 04:14] robinfhu commented on #773
@liquidpele , it may have been accidentally removed during a merge conflict.  We need to bring it back at some point.  I volunteer to take care of it since we need it in our software.

[2015-02-11 04:14] robinfhu commented on #773
The axes tick spacing also bothers me, don't know why that change happened.

[2015-02-11 04:16] liquidpele commented on #239
Not yet, but I'd like to combine the lineChart and lineWithFocusChart so it would get the option then.

[2015-02-11 04:16] #239 closed

[2015-02-11 04:21] liquidpele commented on #293
Still an issue... if line points are under an area the tooltip doesn't display for the points.

[2015-02-11 04:25] liquidpele commented on #279
Seems to still be an issue... callee is indeed depreciated:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/arguments/callee

[2015-02-11 04:29] robinfhu commented on #279
We can use the solution @stickwithchrist posted.  I am cool with that.  We can even use this opportunity to rewrite this logic.

[2015-02-11 04:32] liquidpele commented on #773
Hmm, I don't recall changing the axis for the scatter chart... at least not intentionally...

[2015-02-11 04:33] robinfhu commented on #773
I'm sure with a little digging we can find the commit that made the change.

[2015-02-11 04:37] liquidpele commented on #769
tooltip works fine on my android.

[2015-02-11 04:37] #769 closed

[2015-02-11 04:39] #690 closed

[2015-02-11 04:40] liquidpele commented on #683
use the tooltipContent option to just modify the tooltip.

[2015-02-11 04:40] #683 closed

[2015-02-11 04:41] liquidpele commented on #674
This was a bug with the interactive tooltip, should be fixed in latest (it fires the click event with a list of the data instead of the data for a single item).

[2015-02-11 04:41] #674 closed

[2015-02-11 04:42] robinfhu commented on #279
I'll take care of this.

[2015-02-11 04:42] liquidpele commented on #667
This is pretty old so closing for now, if it's still an issue with the latest version please reopen but provide an example of the issue in jsfiddle or similar site so we can see it, thanks!

[2015-02-11 04:42] #667 closed

[2015-02-11 04:43] liquidpele commented on #660
This is not a current feature but if you want to create it and send us a pull request that would be awesome.  Cheers.

[2015-02-11 04:43] #660 closed

[2015-02-11 04:43] #659 closed

[2015-02-11 04:43] liquidpele commented on #659
Fixed in latest.

[2015-02-11 04:46] liquidpele commented on #653
Seems to work in latest code using chart.showXAxis(false).showYAxis(false)

[2015-02-11 04:46] #653 closed

[2015-02-11 04:47] gopalyadav5 commented on #769
It is not working on Iphone / Ipad.

I am building an application for IOS and I have tested it but tooltip doesn't seems to work on it.
It would be a great help if you can look around it.

[2015-02-11 04:48] liquidpele commented on #608
You can either disable all but the series data you want to display, or just rebuild the chart itself, up you you :)

[2015-02-11 04:48] #608 closed

[2015-02-11 04:49] liquidpele commented on #598
It currently handles up to 2 lines, for more you'll have to modify it and perhaps send us a pull request.   Cheers.

[2015-02-11 04:49] #598 closed

[2015-02-11 04:50] liquidpele commented on #769
let me find my ipad and check...

[2015-02-11 04:54] liquidpele commented on #769
Also works fine on my iPad using safari

[2015-02-11 04:56] liquidpele commented on #592
This is something we are looking to do soon hopefully, in addition to the other docs we have now:

http://nvd3-community.github.io/nvd3/examples/documentation.html

[2015-02-11 04:56] joshjordan commented on #769
@gopalyadav5 can you help us find a more specific, reproducible case? A
jsfiddle would be ideal.

On Tue Feb 10 2015 at 11:54:36 PM liquidpele <notifications@github.com>
wrote:

[2015-02-11 04:56] #279 closed

[2015-02-11 05:09] liquidpele commented on #578
Use chart.brushExtent() to return the brush.extent() as defined in d3:

https://github.com/mbostock/d3/wiki/SVG-Controls#brush_extent

[2015-02-11 05:09] #578 closed

[2015-02-11 05:11] liquidpele commented on #583
This isn't currently an option that I'm aware of... if you can show a d3 block that demos such a thing that would be helpful... closing for now since this is a very old issue.

[2015-02-11 05:11] #583 closed

[2015-02-11 05:13] liquidpele commented on #567
The fisheye stuff was removed.

[2015-02-11 05:13] #567 closed

[2015-02-11 05:14] liquidpele commented on #564
Should be fixed in latest dev code I believe.

[2015-02-11 05:14] #564 closed

[2015-02-11 05:15] liquidpele commented on #559
Looks like an issue with the 2.0 branch taht was never completed.

[2015-02-11 05:15] #559 closed

[2015-02-11 05:18] liquidpele commented on #543
duplicated of:  https://github.com/novus/nvd3/issues/293

[2015-02-11 05:18] #543 closed

[2015-02-11 05:19] liquidpele commented on #498
Fixed in latest codes.

[2015-02-11 05:19] #498 closed

[2015-02-11 05:21] liquidpele commented on #493
answered already.

[2015-02-11 05:21] #493 closed

[2015-02-11 05:24] liquidpele commented on #474
The blocks example there is pretty cool... something to look into.   Keeping marked as Feature.

[2015-02-11 05:27] liquidpele commented on #432
Should be fixed in latest version, if not please reopen, thanks!

[2015-02-11 05:27] #432 closed

[2015-02-11 05:28] liquidpele commented on #417
should probably add focus ability to all the graphs really... I wonder if there is way to refactor that out into it's own component that they can all use...

[2015-02-11 05:33] liquidpele commented on #594
I think you should be able to create a new d3 scale, set the nice value, and then set it to be the scale within nvd3:

var custom_scale = d3.scale.linear()
    .domain([1, 1.9])
    .nice(1);

chart.xScale(custom_scale);

[2015-02-11 05:35] liquidpele commented on #557
Seems fixed.

[2015-02-11 05:35] #557 closed

[2015-02-11 05:36] gopalyadav5 commented on #769
@liquidpele Well, yes tooltip works fine on browser i.e, safari / chrome / mozilla.
If you are creating nvd3 multibar chart using plain nvd3 components, like you are creating HTML using nvd3 library. Then, yes its working on browser.

But, what exactly I am doing is that I am building a hybrid App using cordova to build the application. So, after building the application and installing the file (.

[2015-02-11 05:40] liquidpele commented on #372
Looks to be answered.

[2015-02-11 05:40] #372 closed

[2015-02-11 05:41] liquidpele commented on #377
Not currently, but feel free to send us a pull request.

[2015-02-11 05:41] #377 closed

[2015-02-11 05:42] liquidpele commented on #364
Should be fixed in latest code.

[2015-02-11 05:42] #364 closed

[2015-02-11 05:42] liquidpele commented on #348
Closing due to age, if this is still an issue in the latest version please reopen, thanks.

[2015-02-11 05:42] #348 closed

[2015-02-11 05:44] liquidpele commented on #339
Duplicate of https://github.com/novus/nvd3/issues/293

[2015-02-11 05:44] #339 closed

[2015-02-11 05:46] joshjordan commented on #769
You're right - nvd3 does not support tap events for tooltips. We'd welcome
a pull request that supported the cases you're seeing. You can open a PR
even in its early stage if you want to use it as a starting point for a
conversation about how it sohuld work.

On Wed Feb 11 2015 at 12:37:01 AM gopalyadav5 <notifications@github.com>
wrote:

[2015-02-11 05:48] liquidpele commented on #310
This is not a thing currently.   This issue is replaced by https://github.com/novus/nvd3/issues/311

[2015-02-11 05:48] #310 closed

[2015-02-11 05:49] liquidpele commented on #311
This is pretty neat, please send us a pull request based on the latest code and we will review it.

[2015-02-11 05:50] liquidpele commented on #318
duplicate of https://github.com/novus/nvd3/issues/189

[2015-02-11 05:50] #318 closed

[2015-02-11 05:51] liquidpele commented on #326
fixed in latest version.

[2015-02-11 05:51] #326 closed

[2015-02-11 05:54] liquidpele commented on #769
Someone submitted some code that I think probably does this for pie charts, but I never finished reviewing it... something to start with perhaps?

https://github.com/nvd3-community/nvd3/pull/19

[2015-02-11 06:16] vineelal opened #776 "Pie Chart is completely disturbed when there are more legends"
![piechart](https://cloud.githubusercontent.com/assets/4658864/6142797/a0d7d130-b1e3-11e4-9598-d6d104786402.jpg)

[2015-02-11 06:18] vineelal commented on #776
In the following pie chart we have too many legends, so the chart is plotting too small. This issue is very crucial.

[2015-02-11 09:23] tsenga commented on #542
Seems to work in nvd3 1.7.1

[2015-02-11 13:46] liquidpele commented on #542
Cool thanks for checking!

[2015-02-11 13:46] #542 closed

[2015-02-11 13:50] joshjordan commented on #776
What do you expect the legend to do in this case? This seems like
reasonable behavior, given the parameters you passed to nvd3. To make the
visualization more useful, I'd expect that you need to bucket the values
into logical groupings.

[2015-02-11 14:18] petersondrew commented on #771
Alright, either I'm going crazy, or we're not comparing apples to apples. I just synced roadranger/nvd3/development with novus/nvd3/development, and when I open the multiBarChartTest.html under test I do not get this behavior at all, on chrome, ff, or IE11.

What browser are you testing in? Do you have any local changes, particularly with the nvd3 css file, that may be contributing?

[2015-02-11 14:21] petersondrew commented on #763
@robinfhu Same as #771, I'm not seeing the issue in my development branch on IE11. Something is up.

[2015-02-11 14:23] petersondrew commented on #771
Just in case it's somehow relevant, I appear to be on d3 3.5.4 locally.

[2015-02-11 14:35] robinfhu commented on #771
@petersondrew , is it possible you have changes in roadranger/nvd3/development that were not merged in to our branch?  You may have a different environment.

[2015-02-11 14:36] robinfhu commented on #776
Closing, this request isn't reasonable at this time.

[2015-02-11 14:36] #776 closed

[2015-02-11 15:40] vishal1shukla2 commented on #770
Sure. I am not expert JS developer, but I managed to get this working with just couple of small glitches, I am sure these would be pretty small fix for other contributors. Is it possible to send pull request for code in such state?

[2015-02-11 15:43] joshjordan commented on #770
Please do send the pull request. We can help you get it into an acceptable
state.

On Wed Feb 11 2015 at 10:40:17 AM vishal1shukla2 <notifications@github.com>
wrote:

[2015-02-11 15:47] petersondrew commented on #771
I don't believe so. I cloned to roadranger/nvd3 yesterday and only committed the changes for #765. This morning I did a pull request from novus/nvd3 to sync my development branch with upstream.

I'm going to pull novus/nvd3 down as well and test there.

[2015-02-11 16:00] petersondrew commented on #771
@robinfhu I just pulled novus/nvd3 and on development branch I do not see any problems with the tooltips on the multibarchart.html page. I tried under /examples and /test.

Can you please clone development into a clean folder, do a bower install, and see if you see the same issues?

[2015-02-11 16:02] robinfhu commented on #771
@petersondrew , the reason is because you need to run 'grunt' once before loading the test pages.

Grunt creates build/nv.d3.js.  In development, we don't checkin changes to that file, so you are using an older version of that.

[2015-02-11 16:32] petersondrew commented on #771
@robinfhu Nevermind, now I'm seeing it on novus/nvd3. I didn't run a build before trying it out.

[2015-02-11 16:33] petersondrew commented on #771
Yeah, sorry. I just noticed that. I thought it would have been updated after 1.7.1.

[2015-02-11 16:43] petersondrew commented on #771
@robinfhu I found the problem. The default task for grunt does not copy css. Try grunt production and it will copy nv.d3.css over to build/, which has the proper css for nvtooltip-pending-removal.

We really should remove build from the repo and add it to the.gitignore to avoid all this confusion.

[2015-02-11 16:44] RenatoUtsch commented on #771
Wait, this is very important. Grunt needs to copy the css when doing its default task.

[2015-02-11 16:45] robinfhu commented on #771
Yeah I'll change the grunt file

[2015-02-11 16:45] robinfhu commented on #771
Good catch.

[2015-02-11 16:57] robinfhu opened #777 "Scatter Chart: Legend clipping past margin"
To reproduce, checkout the 'development' branch, run 'grunt', and open test/ScatterChartTest.html.
I recorded a video of the issue:
![scatter chart legend bug](https://cloud.githubusercontent.com/assets/3769532/6151605/f90db918-b1e4-11e4-927d-0412596b2e68.gif)

It seems the scatter legend is clipped.  When you click on the legend, or update the chart another way, the legend appears in the right lo

[2015-02-11 20:21] portante commented on #777
@robinfhu, do the examples load the proper css file?

[2015-02-11 20:21] vishal1shukla2 commented on #770
Pull request #778. Thanks.

[2015-02-11 20:29] robinfhu commented on #777
@portante it is, I made sure to have grunt copy src/nv.d3.css to the build/ folder.  It looks like this is a chart model coding issue anyway.

[2015-02-11 22:40] liquidpele commented on #626
I think this is by design... the line drawing also assume the data is sorted.

[2015-02-11 22:40] #626 closed

[2015-02-11 22:41] liquidpele commented on #610
should be fixed in latest.

[2015-02-11 22:41] #610 closed

[2015-02-11 22:43] liquidpele commented on #492
The example looks fine in chrome now, was probably a chrome issue.

[2015-02-11 22:43] #492 closed

[2015-02-11 22:43] liquidpele commented on #489
scatter isn't part of multichart yet... if you build it send us a pull request :)

[2015-02-11 22:43] #489 closed

[2015-02-11 22:45] liquidpele commented on #349
Fixed by https://github.com/nvd3-community/nvd3/pull/63 and will likely be merged into the novus code.

[2015-02-11 22:48] liquidpele commented on #409
add the attribute "disabled" to the series to have it disabled by default.

[2015-02-11 22:48] #409 closed

[2015-02-11 22:49] liquidpele commented on #323
Was already taken as a pull request in nvd3-community dev.

[2015-02-11 22:49] #323 closed

[2015-02-11 22:49] robinfhu commented on #349
Oh yeah I need to merge nvd3-community:development soon.

[2015-02-11 22:50] liquidpele commented on #304
should be fixed with the recent noData fix submitted to nvd3-community

[2015-02-11 22:50] #304 closed

[2015-02-11 22:50] liquidpele commented on #465
duplicate of  https://github.com/novus/nvd3/issues/693

[2015-02-11 22:50] #465 closed

[2015-02-11 22:51] liquidpele commented on #425
Tooltip is added to body now isn't it?   I think this is out of date.

[2015-02-11 22:51] #425 closed

[2015-02-11 22:52] liquidpele commented on #414
Should be fixed... try the latest dev code and if not re-open and provide a jsfiddle, thanks!

[2015-02-11 22:52] #414 closed

[2015-02-11 22:53] liquidpele commented on #401
This was made adjustable, cheers.

[2015-02-11 22:53] #401 closed

[2015-02-11 22:53] liquidpele commented on #392
showXAxis() and showYAxis() options are available, cheers.

[2015-02-11 22:53] #392 closed

[2015-02-11 22:55] liquidpele commented on #380
ohlc is up, if someone wants to modify to do candlestick then feel free to make apull request, cheers.

[2015-02-11 22:55] #380 closed

[2015-02-11 22:55] liquidpele commented on #365
fixed.

[2015-02-11 22:55] #365 closed

[2015-02-11 23:05] liquidpele commented on #256
seems to work fine on safari now.

[2015-02-11 23:05] #256 closed

[2015-02-11 23:07] liquidpele commented on #253
This lists several issues... I made a lot of fixes to multichart, it shoudl be working pretty well now, some of the other issues were handled by other pull requests as well.   Closing and individual issues should be created for anything still broken, thanks!

[2015-02-11 23:07] #253 closed

[2015-02-11 23:08] liquidpele commented on #334
This seems to be answered.   lines are not implemented but we could accept pull requests for such a thing, cheers.

[2015-02-11 23:08] #334 closed

[2015-02-11 23:11] liquidpele commented on #321
I think making an attribute in the data for a line to just show the scatter points would be a great enhancement.  That's different than just making a scatter chart in multichart as it's just a style issue.

[2015-02-11 23:17] liquidpele commented on #298
I played with it, this is just a misunderstanding of what the focus is doing.   It's focusing on a subset of the data in the top graph, not zooming into the full graph, so for just a few data points it'll look a bit weird... that's just how the tech works... i.e. it's doing a focus not a zoom/pan.

[2015-02-11 23:17] #298 closed

[2015-02-11 23:20] liquidpele commented on #290
Was also reported here...  https://github.com/nvd3-community/nvd3/issues/47

That has a reference from a pull request but it didn't get merged because the guy didn't explain it out and dropped it in favor of just adding padding...

[2015-02-12 00:14] liquidpele commented on #677
should be fixed.

[2015-02-12 00:14] #677 closed

[2015-02-12 00:17] liquidpele commented on #641
the expanded view is just a view, the original values are all displayed in the tooltip still, not the %.

[2015-02-12 00:17] #641 closed

[2015-02-12 00:17] liquidpele commented on #637
Not enough info here, I con't figure out what his issue is.

[2015-02-12 00:17] #637 closed

[2015-02-12 00:19] liquidpele commented on #620
Does the scatter graph support log scale?  Not even sure about that one...

[2015-02-12 00:20] liquidpele commented on #600
Same as the other one... try creating the scale and set the clamp, then pass it as the replacement scale to the yScale() option.

[2015-02-12 00:20] #600 closed

[2015-02-12 00:21] #594 closed

[2015-02-12 00:23] liquidpele commented on #590
Seems like an obvious option to add... marking as enhancement request.

[2015-02-12 00:24] marksandler2 commented on #620
Where can i test it?

On Wed, Feb 11, 2015 at 4:19 PM, liquidpele <notifications@github.com>
wrote:

[2015-02-12 00:28] liquidpele commented on #587
Should be fixed since my example has 2 pie charts on the same page.

[2015-02-12 00:28] #587 closed

[2015-02-12 00:30] liquidpele commented on #149
it should scale with the svg now.

[2015-02-12 00:30] #149 closed

[2015-02-12 00:32] liquidpele commented on #171
Really old and the major issue was fixed, closing it.  Please open any still existing issues based on the latest version, thanks!

[2015-02-12 00:32] #171 closed

[2015-02-12 00:37] liquidpele commented on #188
Interesting but I think it's safe to say he's not going to send us the pull request since this was from over a year ago.

[2015-02-12 00:37] #188 closed

[2015-02-12 00:37] #214 closed

[2015-02-12 00:39] liquidpele commented on #309
Yes, because the dispatch is on click not on re-render or similar.

[2015-02-12 00:39] #309 closed

[2015-02-12 00:39] liquidpele commented on #307
fixed in latest.

[2015-02-12 00:39] #307 closed

[2015-02-12 00:45] liquidpele commented on #291
I updated the jsfiddle to 1.7, it looks like it's still an issue... the "key" attribute of the data is the same for both series which causes the problem... seems silly but probably should be able to handle that.

http://jsfiddle.net/3s7Te/9/

[2015-02-12 01:03] liquidpele commented on #620
That was more of a question for the novus guys... not sure if they intended for a log axis to work or not...

[2015-02-12 02:21] liquidpele commented on #349
Should be fixed in dev branch now.

[2015-02-12 02:21] #349 closed

[2015-02-12 02:24] liquidpele commented on #510
don't see anything about this that warrants keeping the issue open.

[2015-02-12 02:24] #510 closed

[2015-02-12 02:27] liquidpele commented on #293
Okay, this pull request to nvd3-community might resolve this for linePlusBarChart, since it allows swapping which axis the lines/bars use.... though I'm not sure that's the right solution... thoughts?

@robinfhu @joshjordan @portante

https://github.com/nvd3-community/nvd3/pull/54

[2015-02-12 02:30] robinfhu commented on #293
@liquidpele just at quick glance, it's a lot of code for a minor issue.  Makes me kind of uneasy.

[2015-02-12 02:31] liquidpele commented on #293
Removed my last comment, two different things I thought were related but probably not :p

[2015-02-12 02:32] liquidpele commented on #246
Add data to the original data object and call chart.update()

[2015-02-12 02:32] #246 closed

[2015-02-12 02:32] robinfhu commented on #293
Can't you just set pointer-events:none; in the CSS for the area section? Will that get tooltips to show for the line underneath?

[2015-02-12 02:43] liquidpele commented on #293
Neat, that does fix it although the areas stop getting darker on hover then....  but also the area section doesn't have *any* kind of tooltip there, which seems like a bug too?   Plus, the lines should still probably be on top of the bars, both for multichart and for linePlusBar.

[2015-02-12 02:45] liquidpele commented on #286
I'm not really sure what they're asking... from 2013 so just closing as ancient.

[2015-02-12 02:45] #286 closed

[2015-02-12 02:45] liquidpele commented on #274
new examples and docs now, closing.

[2015-02-12 02:45] #274 closed

[2015-02-12 02:49] liquidpele commented on #283
We should merge lineChart and lineChartWithFocus, which I think is the real fix.  I'll make a different issue for that.

[2015-02-12 02:49] #283 closed

[2015-02-12 02:51] liquidpele opened #780 "We should merge the lineChart and lineWithFocusChart models."
I did this already with linePlusBarChart and it's focus counterpart.  No sense in all that duplication just for the focus feature.

[2015-02-12 02:55] liquidpele commented on #433
Verified this is still an issue.

[2015-02-12 02:55] liquidpele commented on #411
Should be possible in latest dev code.

[2015-02-12 02:55] #411 closed

[2015-02-12 03:06] robinfhu commented on #620
We've never really tested our charts with Logarithmic scales.  If we can setup some examples that would be great.  We'll need to look into it.

[2015-02-12 03:53] liquidpele commented on #297
Invalid, it is correct as-is.

[2015-02-12 03:53] #297 closed

[2015-02-12 03:54] liquidpele commented on #289
should be fixed already.

[2015-02-12 03:54] #289 closed

[2015-02-12 03:55] robinfhu commented on #241
Old issue, and not enough details.

[2015-02-12 03:55] #241 closed

[2015-02-12 03:57] robinfhu commented on #262
I don't think I can help you here given that I have no experience with smartGWT.

As for getting the data for a mouse click, the elementClick dispatch contains lots of point data. That may help.

[2015-02-12 03:58] liquidpele commented on #394
That's weird, but this is really old so maybe not an issue and no example code for reproducing this, so closing.

[2015-02-12 03:58] #394 closed

[2015-02-12 03:58] robinfhu commented on #322
Oh this is a dupe of: https://github.com/novus/nvd3/issues/777

Closing this ticket.

[2015-02-12 03:58] #322 closed

[2015-02-12 04:00] liquidpele commented on #389
This issue is really old, from the example code it looks like rchart maybe?... I haven't seen this error so closing this.  Please reopen if still an issue, and provide reproduction using just nvd3, preferably in something like jsfiddle so we can see it in action.  Thanks!

[2015-02-12 04:00] #389 closed

[2015-02-12 04:18] liquidpele commented on #347
Appears to still be an issue.

[2015-02-12 12:41] liquidpele opened #781 "I'd like to make a sunburst graph. They are purty."
I'd like to create a sunburst model.  I think these things are supa sweet.

http://bl.ocks.org/kerryrodden/477c1bfb081b783f80ad

[2015-02-12 12:59] robinfhu commented on #781
That surprisingly didn't take a lot of code.  It needs tooltips I think.  Go for it!

[2015-02-12 17:51] mpGitHub opened #783 "Click on a line charts legend breaks tooltips in IE11"
Line chart issue:

Clicking on a Legend to filter just on that item breaks the tooltip. This same bug occurs if you update the chart via: d3.select("#myChart").datum(chartData).call(chart);

The problem seems to occur because duplicate IDs for "nv-point-clips" are created every time the chart is updated. Duplicate ids for "nv-point-clips" are created in chrome as well, but chrome seems to handle t

[2015-02-12 18:28] mpGitHub opened #784 "Updating an existing chart breaks the double click selection in the legend"
Line Chart:

If you update an existing chart with new data the double click on the legend to only display that line breaks.

Update an existing chart via:

      d3.select("#myChart svg")
         .datum(chartData)
         .call(chart);

Now when trying to double click on any legend items will no longer work.  There seems to be some type of leftover confusion with the events.  Perhaps an unbind o

[2015-02-12 19:00] jamesgarfield opened #785 "ScatterChart is missing options binding"
All other charts use `chart.options = nv.utils.optionsFunc.bind(chart);` to bind the options function to the chart object, but scatterChart is missing this.

[2015-02-12 20:00] mpGitHub commented on #783
I found a hack workaround until this is fixed.

Inside nv.d3.js add this line at the top of function chart() that removes all existing "nv-point-clips" before the chart is updated.

function chart(selection) {
   // Clear out current data before updating
   d3.select("#nv-point-clips").remove();
   ...

[2015-02-12 20:20] liquidpele commented on #783
Well you wouldn't want to do that in case there was more than one chart on the page... you'd want to do the select based off the container for that chart, not off the global d3 object.

[2015-02-12 20:22] liquidpele commented on #785
Verified, looks like an oversight from when I was redoing stuff, fixed by @jamesgarfield in the referenced pull request above.

[2015-02-12 20:22] #785 closed

[2015-02-12 20:44] jamesgarfield opened #787 "Logic for 'noData' on charts is duplicated everywhere"
The only difference across all charts is what the test for there being no data looks like.

This can be extracted into a utils method.

[2015-02-12 21:34] liquidpele commented on #787
No need to open an issue for non-bugs if you're already planning on doing the pull request... we'll just track the pull request in this case :)

[2015-02-12 21:34] #787 closed

[2015-02-12 22:59] cloudeeo commented on #392
Actually this does not work for the axis itself but only for the labels.

[2015-02-12 23:01] liquidpele commented on #392
Try with latest 1.7 version... Seemed to work fine when I tested it.

[2015-02-13 01:57] enricoros commented on #777
Confirmed, same behavior here. Seems That it's the multi-line legend that breaks it.

[2015-02-13 10:27] gopalyadav5 opened #792 "Hiding Tooltip on clicking outside the bars area in MultiBarCharts"
I am using clicking event to fire the tooltip in MultiBarCharts. If I click on a bar the tooltip appears and shows the data and on clicking another bar, previous generated tooltip gets cleared and a new tooltip appears. But I am facing a problem that, if I click somewhere inside the chart area but not on the bars the last tooltip persists. I am looking for  a solution that tooltip gets hidden if i

[2015-02-13 19:55] mpGitHub commented on #783
Good call.

I tweaked my previous call to take into account just the existing nv-point-clips in that SVG object.  This seems to handle the issue with multiple charts.  This code should be cleaned up, but adding this code to the top of function chart() seemed to fix this.

var containId = $(this)[0].parentNode.parentNode.id ;
$("#" + containId).find("#nv-point-clips").remove();

Thanks

[2015-02-13 20:25] mpGitHub opened #794 "2 separate line charts in IE11 causes the tooltip to break"
IE 11 and two separate Line charts.

Two separate line charts on a single web page cause problems with each other when useInteractiveGuideline is off.  Make sure that the lines in each have slightly different values.  I used 2 lines on each chart with only a few dots on each line to keep it simple.

In the first chart all datapoints properly show the tooltip on hover.  On the second chart only som

[2015-02-13 20:35] robinfhu commented on #794
We'll need to update the code to give each clipping path a unique id.  I think we do that for historicalBarChart

[2015-02-13 21:34] Resseguie commented on #333
@jfsiii the requirement for `onlyCircles()` was fully removed as of 4eb44eb2eac6c936fb28667debb7c871b2e95373

Should this issue be closed?

@m48u you can set a `color` property for a data point to color them individually. Alternatively, you can set the chart.color property to your own function that can determine color dynamically based on whatever you want.
http://nvd3-community.github.io/nvd3/exa

[2015-02-13 21:50] liquidpele commented on #333
yep also you can now use custom symbol! This should be resolved so I'll go ahead and close it

[2015-02-13 21:50] #333 closed

[2015-02-13 22:05] Resseguie commented on #333
Thanks, I hadn't noticed the custom symbol. I'll look into it. I'm actively working on something can can possibly use that.

[2015-02-13 22:43] mpGitHub commented on #794
Anyone who wants a hack workaround for now following Robin Hu's suggestion:

First make sure each Div container that will have a chart in it has a unique ID.

// Then modify the nv.d3 code as follows
nv.models.scatter = function() {
...
function chart(selection) {

    // GRAB container DIV ID and use that to make the nv-clip unique
    var closeDivId = "X" ;
    var closeDiv = $(this).closest("di

[2015-02-14 01:46] floribon commented on #428
+1, for now using @jenslonkowski hack. This only allows to edit the heading, a full control over the template would be highly preferable.

[2015-02-14 07:37] enricoros commented on #777
Workaround, you can make the legend wider (currently hardcoded to be half the screen size), by editing nv.d3.js and hacking the following:

    @@ -9912,7 +9912,7 @@ nv.models.scatterChart = function() {

                // Legend
                if (showLegend) {
    -                legend.width( availableWidth / 2 );
    +                legend.width( 2 * availableWidth / 3 );

[2015-02-16 16:49] robinfhu commented on #294
There's a newer feature request, so closing this as a duplicate.

[2015-02-16 16:49] #294 closed

[2015-02-16 22:41] thostetler opened #796 "multiBarHorizontalChart showing grayscaled colors"
![selection_002](https://cloud.githubusercontent.com/assets/6970899/6220253/42f18afc-b602-11e4-9a3b-595c0a0b0bd4.png)

Check out http://jsfiddle.net/timh06/k9tz6taL/1/

MultiBarHorizontalChart seems to be having an issue with colors showing up grayscaled.

Versions:
* NVD3 1.7.1
* D3 3.1.5 (same thing occuring with latest version however)

[2015-02-16 23:09] liquidpele commented on #796
Try the development branch and see if that fixes the issue for you, I think this was fixed by a contributor already.

[2015-02-17 00:09] thostetler commented on #796
Thanks for the quick reply, unfortunately it looks like it's doing the same thing for me with the development branch as well.  Unless I'm doing something weird in the implementation.

Here is an updated fiddle: http://jsfiddle.net/timh06/k9tz6taL/3/

[2015-02-17 00:49] liquidpele commented on #796
Interesting...

Here it is working fine using the nvd3-community dev branch:   http://jsfiddle.net/k9tz6taL/5/

Here it is broken using the novus nvd3 dev branch:  http://jsfiddle.net/7Lenath7/1/

@robinfhu didn't you merge in the community dev branch the other day?  I would think this should be merged already...

[2015-02-17 01:05] robinfhu commented on #796
Yep I've been merging it in. Did you remember to build the nv.d3.js file?

[2015-02-17 03:11] thostetler commented on #796
I was able to get it working by cloning the repo and building the dev branch myself.  The latest seems to have the fix.

[2015-02-17 03:13] liquidpele commented on #796
Awesome, closing this issue then, cheers!

[2015-02-17 03:13] #796 closed

[2015-02-17 03:21] liquidpele commented on #449
Already fixed in latest :)

[2015-02-17 03:21] #449 closed

[2015-02-17 03:28] liquidpele commented on #763
Closing this until something reproducible is provided.

[2015-02-17 03:28] #763 closed

[2015-02-17 15:20] robinfhu commented on #777
Issued a PR to fix the issue.

[2015-02-17 15:20] #777 closed

[2015-02-17 19:12] liquidpele commented on #291
should be fixed now.

[2015-02-17 19:46] portante commented on #330
@liquidpele, I have not been able to solve this problem using the `development` branch from nvd3-community (`341da00`) or novus (`ec20666`).  I am going to submit a fix for this where overlapping points that are considered duplicates are merged to show a tooltip with all the data.

[2015-02-17 20:50] liquidpele commented on #330
Really?  The current code does apply a tiny random jitter (Math.random() * 1e-7) to the vertices, so I would have thought this would be fixed, or is the issue something else besides what one of the comments above describes?

[2015-02-18 01:17] robinfhu commented on #390
Issue fixed via: https://github.com/novus/nvd3/commit/bea10a4b

[2015-02-18 01:17] #390 closed

[2015-02-18 01:46] liquidpele opened #799 "PieChart tooltips flicker on and off in IE10"
It looks like IE10 has an issue where the tooltip will flicker when the mouse is over the tooltip.

This was fixed in a pull request here:  https://github.com/novus/nvd3/pull/453

However, the pull request changed a lot of code and it's probably better to review the tooltip position for pieCharts so that it doesn't display under the mouse so that the issue is just avoided altogether instead of hav

[2015-02-18 02:58] robinfhu commented on #773
It's probably related to: https://github.com/liquidpele/nvd3/commit/a37473e7f5d55d6311b5384e8c8296fef9a294c9

[2015-02-18 03:05] robinfhu commented on #773
Okay, found solution to the axes issue.  If I just override xAxis.ticks to something like '10', it works.

See screenshot of what I want:
![scatter chart with axes](https://cloud.githubusercontent.com/assets/3769532/6241777/04967048-b6f1-11e4-9064-e850c9a5313e.jpg)

[2015-02-18 03:11] robinfhu commented on #773
As for xPadding and yPadding, I'm okay with leaving that option out.  There are ways you can fiddle around with scatter.xDomain and scatter.yDomain to get the padding effect.

[2015-02-18 03:14] #773 closed

[2015-02-18 03:46] robinfhu commented on #784
I was able to reproduce this bug I think.  Working on this.

[2015-02-18 04:00] liquidpele opened #801 "Labels are broken on donut chart example"
Not sure when it happened, but the donut chart labels, when displayed outside the slices, are all overlapping and on the top.

[2015-02-18 04:07] robinfhu commented on #784
@mpGitHub I issued a pull request to fix this.  See if my change solves your problem.

[2015-02-18 04:07] #784 closed

[2015-02-18 04:32] liquidpele opened #803 "Lines flash when a prior series is disabled"
reproduce steps:

1. View lineChart example
2. disable the last series "Fill Opacity" by clicking it's circle in the legend, notice that it vanishes and the other lines do NOT flicker
3. enable the last series again
4. disable the first series "Sine Wave", notice all lines flash off and on.  This is especially bad on firefox, which takes almost a full second to redraw all the lines.

[2015-02-18 04:35] robinfhu commented on #803
This was introduced in the development branch. Not happening on master.

[2015-02-18 04:38] liquidpele commented on #803
Yea, I found it was due to this commit by me, not sure why it's causing that yet

https://github.com/novus/nvd3/commit/ec20666c8ac1b5fa0ed443df8ecbdb25e3124603

[2015-02-18 04:41] liquidpele commented on #803
I reverted it, apparently it needs the key to stay the same and disabling stuff changes the i value...

[2015-02-18 04:42] #803 closed

[2015-02-18 04:43] robinfhu commented on #803
Okay, I see.

Then what you need to do I think is create your own 'seriesIndex'

And then in the select.data() function, do something like:

[2015-02-18 04:54] liquidpele commented on #291
Had to revert due to https://github.com/novus/nvd3/issues/803, will look at robin's suggestion.

[2015-02-18 12:12] portante commented on #330
@liquidpele, jitter like that is not guaranteed to solve the problem and because it is random, it might one time and then not for another, do you agree?  Also, if the points are within 1e-6 of each other, even in the same series, 1e-7 jitter won't distinguish from 1e-6 difference, unless I have my math wrong, right?

[2015-02-18 13:12] liquidpele commented on #330
Yea, that's true, we could handle this a lot better.

[2015-02-18 13:26] dbackowski commented on #290
On v1.8.0 alpha release still exists

[2015-02-18 13:48] robinfhu commented on #290
@dbackowski this is by design.

The reason is that each bar is centered on the x-point.  The zero point happens to lie in the axis line, so the bar must be centered on that line.  But if we didn't cut the bar in half, the bar would extend past the axes.

The workaround solution is to add data padding.  You simply insert a dummy point at the start and end of your data series. Set the Y value to nul

[2015-02-18 14:24] dbackowski commented on #290
So if i have months in X axis and add this workaround i get something like this:

![zrzut ekranu 2015-02-18 o 15 17 15](https://cloud.githubusercontent.com/assets/567457/6248600/773b80b2-b781-11e4-9498-685efa7944ea.png)

In X axis where are months now will be visible 0 and 13.
This chart looks good on old version 1.1.14b

![zrzut ekranu 2015-02-18 o 15 24 12](https://cloud.githubusercontent.com/as

[2015-02-18 15:43] amelzer opened #804 "multiChart: voronoi messes up in Firefox when using a line on both axis."
I stumbled upon a problem when trying to use a multichart for two line graphs. The tooltips in the second line graph (red one in the following example) are not always shown when hovering over the data points. However, they seem to work on some occasion (but never on all datatypes). This occurs in Firefox but not in Chrome.

I stripped down the multichart example from this repository to illustrate

[2015-02-18 15:54] robinfhu commented on #804
Grrrr...seems like every issue these days revolve around tooltips :-(

[2015-02-18 19:05] achikin commented on #283
Hi, are there any news about interactive guideline for line with focus chart?

[2015-02-18 22:09] liquidpele commented on #283
I'm planning to merge lineChart and lineChartWithFocus soon, which would resolve this.  I did the same with linePlusBar and linePlusBarWithFocus already.

[2015-02-18 22:29] liquidpele commented on #804
![allthetooltips](http://i.imgur.com/qr39Z7Q.jpg)

[2015-02-18 22:40] mpGitHub opened #805 "Add linechart feature to fill area above a line"
Add a new option to handle filling area above a line via a single properly:

// Position after isArea.  true/false option to indicate filling area above/below the line.
, areaTop = function(d){return d.areaTop }

// inside chart()
            areaPaths.watchTransition(renderWatch, 'line: areaPaths')
                .attr('d', function(d) {

                //  Check if areaTop and if so apply styl

[2015-02-18 22:45] mpGitHub opened #806 "Linechart - IE11 tooltip jumps off base when useInteractiveGuideline = true"
When useInteractiveGuideline is on and using IE11 the tooltip jumps way to the top left of the chart if the cursor hovers directly over a dot on a line.

Thoughts?

[2015-02-18 22:46] robinfhu commented on #806
Can we see a screenshot of this?  I think this may be pointer-events:none issue...

[2015-02-18 23:23] amelzer commented on #804
I guess I came a little bit closer to the problem today.
When using two axes, the "tooltip-hover-zones" for the right axis graph are somehow vertically located on the left axis graph.

![hover-zones](https://cloud.githubusercontent.com/assets/1628866/6258928/4585e106-b7cd-11e4-82ba-8f9c82540ba5.png)

I think it has to do with duplicate IDs. When using two y-axes, ids for nv-edge-clip, nv-path, nv-

[2015-02-18 23:27] mpGitHub commented on #806
It wasn't letting me upload a pict.  Basically hover slowly over a line such as "Random Points" in the default example.  The tooltip flickers on and off like it's losing focus.  Then out of the blue it displays in the top left of the chart.  The dots on the far left of the chart are focused on even though the mouse is still in the center of the chart.

[2015-02-19 00:17] liquidpele commented on #806
Just FYI, for pictures you can just upload to imgur.com and either link to it here or embed it in the comment like the markdown example for images shows:   https://guides.github.com/features/mastering-markdown/

[2015-02-19 00:21] jquince opened #807 "Stacked bar charts, multiBarChart seems correct while multiBarHorizontalChart bars layout on top of each tother"
If the values in a group are on opposite sides of the axis as per the demo http://nvd3.org/examples/multiBarHorizontal.html then stacked renders fine.
but with both positive, and I assume negative, the bars overlap instead of stacking.

Here is a jsbin
http://jsbin.com/yodaqekipu/3/edit?js,output

[2015-02-19 02:44] liquidpele commented on #805
I'm confused, what would this look like and what is the use case?

[2015-02-19 02:51] liquidpele commented on #807
Your jsbin seems really messed up.... I tried to reproduce with the multibarhorizontal.html file by just making all the values positive like so:

    for (var k in long_short_data) {
        for (var j in long_short_data[k]['values']) {
            long_short_data[k]['values'][j]['value'] = Math.abs(long_short_data[k]['values'][j]['value']);
        }
    }

However, everything seems to work fine

[2015-02-19 04:22] jquince commented on #807
Ok, I see what's wrong some how my data has strings instead of numbers.

[2015-02-19 04:22] #807 closed

[2015-02-19 13:42] RenatoUtsch opened #808 "Tooltips not being removed after moving out of the chart"
I think I reported this problem before or saw someone reporting it, but I can't find it here.

If you open the line chart example (examples/lineChart.html), you notice that the tooltip div is reused while the user is moving his mouse inside the chart area. This is a good thing, but after the user moves out of the chart, it is only marked as 'nvtooltip-pending-removal', but not removed.

[2015-02-19 13:47] robinfhu commented on #808
Is this the same problem as: https://github.com/novus/nvd3/issues/771 ?

[2015-02-19 13:55] RenatoUtsch commented on #808
Yes, it is the same.

I don't know why I couldn't find it again... You can close it as duplicate.

[2015-02-19 13:56] RenatoUtsch commented on #771
I am copying the CSS but I don't see the div being removed...

[2015-02-19 13:57] #808 closed

[2015-02-19 13:59] robinfhu commented on #771
@RenatoUtsch check again, this should work on development branch. Run 'grunt' before opening examples/multiBarChart

[2015-02-19 14:04] RenatoUtsch commented on #771
@robinfhu I did it, and I am on the development branch.

Try checking out a clean copy and doing that.

I am using Chrome and OS X Yosemite.

[2015-02-19 14:07] robinfhu commented on #771
@RenatoUtsch I can't reproduce your issue.  Please upload a copy of your nv.d3.js and CSS file to JS fiddle and post it. Thanks.

[2015-02-19 14:08] petersondrew commented on #771
@RenatoUtsch Did you run a build before running your tests? There was an issue with the build script where it didn't copy the css file to the test folders normally (and maybe it's still an issue?).

[2015-02-19 14:09] robinfhu commented on #771
Hold on, I see what you are saying.  You need to be more specific.  Do you mean that the actual DIVs are not being remove from the page (they are just set to opacity 0)
![screen shot 2015-02-19 at 9 08 30 am](https://cloud.githubusercontent.com/assets/3769532/6268009/ffae2a2c-b816-11e4-9c4f-7bce588bfa40.png)

[2015-02-19 14:10] petersondrew commented on #771
@robinfhu Ah, I see. So with the old style tooltips it doesn't re-use the container.

[2015-02-19 14:10] robinfhu commented on #771
@petersondrew , I was confused.  I thought @RenatoUtsch had the same visual issue above.  What he REALLY meant is that the div element is just hidden, never physically removed.

[2015-02-19 14:11] robinfhu commented on #771
@petersondrew sorry to bother you about this again, can you find a fix?

[2015-02-19 14:12] petersondrew commented on #771
So, is it better to have a single "remove" method that just hides the div, and force the old tooltip code to re-use the container, or do we change the remove method so that it removes the div and introduce a new function that hides the re-usable container specifically for the interactive layer tooltips?

[2015-02-19 14:13] petersondrew commented on #771
My gut is to improve the old tooltip code and re-use the container, but I haven't dug into it enough to know what ramifications that has on the API

[2015-02-19 14:16] robinfhu commented on #771
@petersondrew do whatever you think is best :-)

[2015-02-19 14:21] petersondrew commented on #771
I'll try to find time for it soon, unfortunately I'm absolutely swamped at the office right now on non web-dev related stuff.

[2015-02-19 14:26] robinfhu commented on #771
@petersondrew thanks.  I'd normally dive in and fix it myself, but my solution would be something like find all "pending removals" and just remove them.  Since you updated this feature, you probably know of a better way.

[2015-02-19 14:28] liquidpele commented on #771
Personally, I'd like to see the regular tooltip re-use the container as well so that we could make it not vanish and reappear, but glide along like highcharts:   http://www.highcharts.com/demo/line-basic

[2015-02-19 14:32] robinfhu commented on #771
I don't think we can, because some charts like 'scatterChart' show more than one tooltip at a time.

[2015-02-19 14:34] liquidpele commented on #771
Are you referring to the little tooltips that show up on the x and y axis too?

[2015-02-19 14:40] robinfhu commented on #771
Yeah.  Also I think there are advantages to not creating a reusable container for tooltips.  For example, you may want to show tooltips simultaneously in two different charts side by side.

[2015-02-19 14:40] liquidpele commented on #771
Oh, are they shared across charts??   Yea, we should probably not do that...

[2015-02-19 14:42] robinfhu commented on #771
Yeah I'm now concerned about the reusable interactiveGuideline tooltip container.  In our software, we have situations where tooltips show up for two charts at the same time.  Wonder if this change would break that...

[2015-02-19 14:52] petersondrew commented on #771
@robinfhu Do you mean "this change" as in what we're discussing to address removing these leftover tooltip container divs, or referring to the original change I made to make the container re-usable? If the latter, the pending-removal class (which in hindsight I should have used a new name) is only applied to the div owned by the interactive layer, so multiple interactive layers on a page will not

[2015-02-19 14:55] robinfhu commented on #771
@petersondrew I am referring to the big change you made originally.  So if I understand correctly, each chart's tooltip operates independently, so two charts can show tooltips at the same time?

[2015-02-19 15:07] petersondrew commented on #771
That is correct, I modified the interactive layer to locate its tooltip container by id, which is randomly generated per interactive layer instance, rather than by class which was the old behavior.

Play around with it and let me know if it breaks your scenario, but it should *just work*. :smile:

[2015-02-19 15:09] robinfhu commented on #771
@petersondrew thanks.  Once this pending-removal bug is fixed I hope tooltips are in a good state.

[2015-02-19 15:16] RenatoUtsch commented on #771
@robinfhu Sorry that I wasn't specific enough.

The DIVs used to be removed by the old nv.tooltip.cleanup() code, but after that big change @petersondrew made, the divs are now only hidden.

I am having a problem with this find by id thing. If, for example, the interactive guideline tooltips can't find the tooltip by ID, it creates a new one, resulting in the following:

![screen shot 2015-02-19 a

[2015-02-19 15:18] robinfhu commented on #771
@RenatoUtsch whoa, what do you have to do to get that first screenshot's situation?

[2015-02-19 15:22] RenatoUtsch commented on #771
@robinfhu you have to put the chart inside a Shadow DOM:
ttps://github.com/RenatoUtsch/polynvd3

[2015-02-19 15:29] mpGitHub commented on #805
I  used it as a means to show a target area.  Some objectives might be ascending and some descending.
   Ascending Objective - Might be reaching a target Net Revenue of >= $100.
   Descending Objective - Might be having < 5 outstanding claims for the month.

If the metric is ascending the target area would be above the line in the graph.  If the metric was descending obviously the target area is b

[2015-02-19 15:34] mpGitHub commented on #806
![tooltip](https://cloud.githubusercontent.com/assets/8506767/6269678/76811706-b81a-11e4-949a-c692405373ae.png)

[2015-02-19 15:35] liquidpele commented on #805
That seems more confusing than a line that goes up and down...

[2015-02-19 15:35] mpGitHub commented on #806
Ha - I tried to upload the pict w/ Firefox and IE, but it only worked in Chrome.

[2015-02-19 15:35] liquidpele commented on #805
Maybe you could show a screenshot of it?

[2015-02-19 15:38] mpGitHub commented on #806
The useInteractiveGuideline in Chrome is a smooth displaying tooltip that doesn't flicker on and off and jump around like in the pict above.  Seems like in IE it keeps losing context of where it is.  It would make sense that it could be a pointer-events issue.

[2015-02-19 15:39] liquidpele commented on #806
That's not the latest code, which has an added pink line.

Grab latest from the development branch, build it via https://github.com/novus/nvd3#building-latest

Then open the index.html file there and you should see the examples page locally, see if still happens.    I can't reproduce this though...

[2015-02-19 15:40] liquidpele commented on #806
Oh wait, IE11, that's right, let me try to find a windows vm...

[2015-02-19 15:40] robinfhu commented on #806
Okay, from now on, we need to start developing all new features in IE11.

[2015-02-19 15:42] liquidpele commented on #806
ew

[2015-02-19 15:42] mpGitHub commented on #806
I just did a repro with IE11 in the latest branch.

Y - IE11 stinks, but it's still used a bunch.

[2015-02-19 15:45] mpGitHub commented on #806
Where I am I need things to play nice in IE10+.

I turned off useInteractive because of this issue as most users here are forced to use IE unfortunately.  I'd like to turn it on though as it is cool functionality.

[2015-02-19 15:51] jamesspencer opened #809 "Interactive Guideline tooltip position doesn't account for containers with scroll offset"
I'm using nvd3 to render some charts in a div that has the following CSS applied:

    overflow-y: auto;
    overflow-x: hidden;

This isn't accounted for in `nv.tooltip.calcTooltipPosition` as only the window scroll offset is inspected. If the containing div is scrolled, the tooltip position is calculated incorrectly.

I imagine an elegant solution would be to traverse the DOM upwards, storing a

[2015-02-19 15:52] mpGitHub commented on #805
![target_area](https://cloud.githubusercontent.com/assets/8506767/6270076/fc3ba9cc-b81c-11e4-9460-2077d6897baf.png)

[2015-02-19 15:53] mpGitHub commented on #805
There is sparse data in this example and I modified the line's name, but should give you an example

[2015-02-19 16:02] liquidpele commented on #809
Hmm, I thought this was a duplicate but I guess not.    There is a related pull request though:   https://github.com/novus/nvd3/pull/460

[2015-02-19 16:28] liquidpele commented on #805
Ah, I see what you mean now.  Interesting.  However, for the use of zones, I don't think adding a line there is the right solution... shouldn't it really just be a mostly transparent colored area without the line or legend item?  @robinfhu what do you think?

[2015-02-19 16:56] RenatoUtsch opened #810 "Charts using more width and height than requested after 429a77b"
After commit 429a77b the charts started taking more space than requested with the width and height attributes.

For example, in the line chart, I specified 1000x500 px (widthxheight), but after the commit 429a77b it started to add white space after the chart:

Before:
![screen shot 2015-02-19 at 2 48 22 pm](https://cloud.githubusercontent.com/assets/836333/6271341/2d15d0b6-b847-11e4-9acb-4f5cff175

[2015-02-19 17:00] liquidpele commented on #810
Actually that was probably me changing the CSS to remove the last bit of it that wasn't contained.   The issue is likely that you're not restricting the size of your SVG containers, which by default are set to 100% width and height.    The height and width options provided to the chart restrict the size of the chart within the SVG container but do not affect the svg element itself.

Try doing:   s

[2015-02-19 17:02] liquidpele commented on #810
@robinfhu should the height and width options restrict the svg element size too?   I figured there was a use case for writing multiple charts within a single svg since that seemed to be how it was written, is that the case?

[2015-02-19 17:02] mpGitHub commented on #805
I could see using a transparent colored area, but this allows an interactive show/hide of the target line/area plus the auto display of the Target point on hover.  I felt it was easier to leverage the existing functionality.

[2015-02-19 17:05] RenatoUtsch commented on #810
@liquidpele Setting the style of the svg solved it, although using the width and height properties of the svg showed no effect.

The commit that made this change in the behaviour was 429a77b, I tested before and with it.

Anyways, thanks for the help.

[2015-02-19 17:07] liquidpele commented on #810
Oh really?  Hmm, I did the CSS changes after that so I figured I caused it when I noticed it myself.

[2015-02-20 14:58] petersondrew commented on #771
@RenatoUtsch I think locating a div by its id is an acceptable practice. Any issues created by doing so when it comes to virtual/shadom dom is far beyond the scope of this issue (and would need to be addressed solely in your polynvd3 fork, rather than in nvd3).

I'm more than happy to come up with a good way to reuse tooltips outside of the interactive layer, so that we don't orphan tons of divs.

[2015-02-20 15:00] liquidpele commented on #771
Weren't we selecting them by class before?  Why would that work in shadowdom and selecting by ID wouldn't?

[2015-02-20 15:09] RenatoUtsch commented on #771
By making a small change in the selection by class I can make the selection look inside all shadow doms.

Because you can have the same ids in different shadow doms, this feature is not available when selecting by ID, as conflicts can arise.

I think the ideal would be for nvd3 to support its usage, as it is something that will be really popular in the future, but I can make changes on my fork onl

[2015-02-20 15:10] RenatoUtsch commented on #771
Oh and yes, the selection used to be by class.

[2015-02-20 15:14] joshjordan commented on #771
Does that imply that getElementById is basically useless when using a
shadow DOM? That doesn't really seem like a reasonable requirement to place
on a project.

Is there a better way to choose when PR which DOM to apply the id selector
to?

On Fri, Feb 20, 2015, 10:10 AM Renato Utsch <notifications@github.com>
wrote:

[2015-02-20 15:14] joshjordan commented on #771
When or which*

On Fri, Feb 20, 2015, 10:14 AM josh.jordan@gmail.com <josh.jordan@gmail.com>
wrote:

[2015-02-20 15:25] liquidpele commented on #771
shadow dom doesn't really look like something worth supporting yet...

http://caniuse.com/#feat=shadowdom

[2015-02-20 15:56] RenatoUtsch commented on #771
http://webcomponents.org/polyfills/

@joshjordan You can apply the ID selector inside each shadow DOM, but not through all of them.

[2015-02-20 16:17] liquidpele commented on #805
Well I'd be up for considering this, but it really should be a pull request from you with the modifications instead of an issue.  Make sure to read https://github.com/novus/nvd3#a-few-rules-for-pull-requests

I'll close this issue for now and look forward to the pull request.

[2015-02-20 16:17] #805 closed

[2015-02-23 14:54] liquidpele commented on #781
Okay, so just to voice my thoughts, next up is to add the chart with legend and tooltips.   As part of this, I'm going to make a version of the tooltip that just follows next to the mouse and set that to work on pie/donut charts too.  It makes the most sense for those graph types that don't have a specific coordinate to appear in relation to, and should resolve the tooltip issues with piecharts ev

[2015-02-23 21:30] joshuahhh commented on #494
@liquidpele -- What do you mean by "fixed in latest"? Currently, the first selector in https://github.com/novus/nvd3/blob/master/src/nv.d3.css is a bare `svg`, so I think the problem is still present here. Do you mean that you expect the changes from the community fork to be merged back into this repo?

[2015-02-23 21:54] liquidpele commented on #494
I mean in the latest of the development branch

[2015-02-24 14:32] liquidpele commented on #810
Yea, I looked at this, we are now setting height and width on the svg, but that gets overridden by the CSS now which defaults to 100% by 100%.  I think we need to set a style attribute with the CSS as well.  Marking as a bug.

[2015-02-24 19:55] steveloft opened #814 "Please support xScale in multiChart"
I'd like a graph with two Y axes with different scales, and xScale(d3.time.scale.utc()) so I think I need to use multiChart, but this does not I think support xScale yet?

Steve

[2015-02-24 20:02] liquidpele commented on #814
Multichart provides yAxis1 and yAxis2 objects:

http://nvd3-community.github.io/nvd3/examples/documentation.html#multiChart

Those can then in turn be tuned via options:   http://nvd3-community.github.io/nvd3/examples/documentation.html#axis

[2015-02-24 20:39] anthonyettinger opened #815 "tooltips aren't positioned correctly inside scrollable div"
When I put more than one chart inside a scrollable div, the tooltips aren't positioned correctly once I scroll the div down a bit.

It appears the tooltip positioning is calculated to the window. Is there anyway to make it relative to a parent element like `.chart-container` instead of the window?

[2015-02-24 20:41] liquidpele commented on #815
Closing as duplicate of https://github.com/novus/nvd3/issues/809

[2015-02-24 20:41] #815 closed

[2015-02-25 04:07] mgold commented on #801
I may be interested in helping, but [this page](http://nvd3.org/examples/pie.html) looks fine to me.

[2015-02-25 04:15] liquidpele commented on #801
I think the code on nvd3.org is way out of date.  To see the issue you'd need to clone the development branch and view the index.html file to see the new examples page.

[2015-02-25 04:25] mgold commented on #801
This doesn't look so bad?
![screen shot 2015-02-24 at 11 23 44 pm](https://cloud.githubusercontent.com/assets/1191970/6364954/61c51144-bc7c-11e4-9846-78af93cb5ae9.png)

[2015-02-25 04:28] liquidpele commented on #801
Look at the donut that's a complete circle, it has labels too, they're all above it overlapping each over.

[2015-02-25 04:33] mgold commented on #801
Sorry, still not following.
![screen shot 2015-02-24 at 11 32 33 pm](https://cloud.githubusercontent.com/assets/1191970/6365003/76484be4-bc7d-11e4-9c3d-f74247cdc61a.png)

I tried playing with it and I can't get overlapping labels. It _does_ continue to say 100% even when some of the slices are hidden.

[2015-02-25 04:47] liquidpele commented on #801
Yea the 100% is just a hard coded example text, maybe should have just put woot for that one too...

Well, that's weird...  I wonder if it's only if you build latest?  Or maybe it's just me or I'm crazy :p

Try building with "grunt production" and then see if it breaks?

[2015-02-25 05:09] mgold commented on #801
Yup, that does it. I never rang grunt before, just used index.html as it was. Bisecting from the last commit to modify index.html, I found that the bug was introduced in e571fac7d22b424.

I'll try to get a fix up in the next few days if someone doesn't beat me to it.

[2015-02-25 07:47] eschlon opened #816 "Focus Chart Path Transition Wiggle"
Trying to build a Line with Focus chart and noticed an annoying wiggle when scrubbing through the data (essentially [this](http://bost.ocks.org/mike/path/) problem). The issue is not present on the example on nvd3.org (and is not present locally when I grab the js used there). It is present in both master and dev branches here. You can replicate it by just loading the lineWithFocusChart.html examp

[2015-02-25 10:07] steveloft commented on #814
Thanks. I'm having trouble getting the multiChart to plot correctly, where a similar lineChart with two lines works OK.  Here is the lineChart - http://jsfiddle.net/klaatu/40reuLgo/1/ which looks OK, and here is the multiChart - http://jsfiddle.net/klaatu/a4ev1nxt/1/

Could you tell me what I'm doing wrong, please?

Steve

[2015-02-25 11:12] mashdot commented on #651
Thanks for the replies! Sorry I should have updated this a good while ago.

In the end I used the following:

[code]
Which gave me this:

![screenshot](https://cloud.githubusercontent.com/assets/679292/6369367/9d6a0a86-bcdd-11e4-89d3-88e73fb3ab30.png)

When I have a chance I'll push up a Git repo of the whole code as an example.

[2015-02-25 13:57] liquidpele commented on #801
Oh, that commit was to fix this other defect it seems:   https://github.com/novus/nvd3/pull/647

Thanks for at least hunting down the guilty commit!

[2015-02-25 17:01] mcoquet commented on #340
I'm experiencing the same issue. It seems to be due to the width of the columns being calculated based on the absolute number of items (spread through all series) instead of being calculated based on the longest series.

Is there a fix for this in sight? Would you be open to getting a pull request?

[2015-02-25 17:05] mcoquet opened #817 "discretebarchart doesn't have a legend"
I'd love to have discreteBarChart with a legend.

I don't know if this is by design or by accident, but I don't see a technical reason not to support it.

Happy to have a go at it and submit a PR if you are open to it.

Cheers

[2015-02-25 17:14] liquidpele commented on #340
I updated the fiddle to use the latest dev code and to use multiBarChart since it has multiple series items since that is what multiBarChart is for.

http://jsfiddle.net/8DAQX/3/

[2015-02-25 17:14] #340 closed

[2015-02-25 17:19] liquidpele commented on #817
Check out multiBarChart.  Really, I'm not sure why we have discreteBarChart still, @robinfhu do you know if there is something special about it than you can't do with multiBarChart?

[2015-02-25 18:25] mcoquet commented on #817
the reason i used it was because it looked like the simplest chart to scratch my itch from reading the docs :) I'm trying out multiBarChart now. Seems to work :)

[2015-02-25 22:48] robinfhu commented on #817
Discrete bars shouldn't need a legend.  It's by design.  Each bar should have a label underneath and a value on top, so what would a legend serve?

[2015-02-25 22:48] #817 closed

[2015-02-25 23:17] liquidpele commented on #817
@robinfhu if we added the showValues option to multiBar wouldn't it function the same as discreteBar?   I'm curious if we can remove discreteBar as duplicate functionality...

[2015-02-25 23:54] robinfhu commented on #817
@liquidpele  don't remove discreteBar because we do kind of use it in our software.  But I see what you are saying.  I think there are still subtle differences.  Like discreteBar has a different color for each bar.

I'm on the fence on this.

[2015-02-25 23:58] robinfhu commented on #817
@liquidpele I think one of the reasons discreteBar was made is for the 'showValues' feature,  Also it's nice to have a separate piece of cleaner code.

MultiBar has complex features like 'grouped' and 'stacked', and it has some weird logic to color things in shades.

One solution, is we can copy over discreteBar code to our own internal repo.  We remove it from NVD3, and replace the discreteBarCha

[2015-02-26 00:37] liquidpele commented on #817
Well, not rush on it or anything, I was mostly just curious if I was missing some other big difference.

[2015-02-26 04:15] mgold opened #819 "Donut chart shows 100% even when filters active"
The example donut chart in the development branch is title "100%", which is placed in the center of the donut. This is fine.... until one hides some of the data, and it's not longer 100%.

![screen shot 2015-02-25 at 11 05 18 pm](https://cloud.githubusercontent.com/assets/1191970/6386170/cad41a06-bd42-11e4-9620-dc8e19c2c537.png)

The simplest option is to use another string literal as the title.

[2015-02-26 04:47] liquidpele commented on #819
Honestly a percent there doesn't make much sense in any case, what would probalby be most helpful is a way to have update it when you hover over a slice so you could add the value of the slice there.

[2015-02-26 11:25] mcoquet opened #820 "multiBarChart showValues doesn't work?"
Hi, I want to have a multiBarChart with stacked bars - and that works as expected, but I want to remove the yAxis and have the values displayed on the bars, as I would with discreteBarChart.

Is this achievable with multiBarChart? If not, what chart should I be using to get this effect?

All the best

[2015-02-26 11:37] robinfhu commented on #820
Use a multiBar horizontal chart, which allows you to add labels to each bar.

[2015-02-26 11:37] #820 closed

[2015-02-26 11:41] mcoquet commented on #820
can I rotate it 90º ?

[2015-02-26 13:24] robinfhu commented on #820
There's no feature to rotate the multibar horizontal chart.

[2015-02-26 13:25] robinfhu commented on #816
Yeah something changed in the line with focus code during all our merges.  You're right, it used to never do that.

[2015-02-26 14:18] liquidpele commented on #816
This was probably due to me combining the linePlusBar and linePlusBarWithFocus charts... maybe the latter had a specific interpolation set?

[2015-02-26 14:19] liquidpele commented on #819
Closing this since it's not really a bug or anything, but feel free to send up a pull request that changes things and we'll review it.   Cheers!

[2015-02-26 14:19] #819 closed

[2015-02-26 14:20] moneytree-doug commented on #349
@liquidpele Thanks, Ill take a look tomorrow

[2015-02-26 15:23] leocongote commented on #349
i have noticed that the library have the following code for detect if is empty the data array:
if ( angular.isArray( data ) && (data.length === 0 ) ) and the problem here is that (data.lenght===0) is false because the array is not zero , so what i did was to check if all the data[*].values are equal to zero, if this is true so we must empty the chart. here is the code:

inside the "checkElementID"

[2015-02-26 15:29] liquidpele commented on #349
Send us a pull request based on the current development branch ;)

[2015-02-26 16:01] mcoquet commented on #820
@robinfhu thanks for the input.

I ended up using discreteBarChart as its the only one that gives me the closest behaviour to what I need.

All the best!

[2015-02-26 22:17] mgold commented on #819
Thanks, I'll see if I can some up with anything worthwhile.

[2015-02-26 23:47] robinfhu commented on #816
But why would that affect the lineWithFocus chart?

[2015-02-26 23:52] liquidpele commented on #816
Oh whoops I got confused.  No idea then, but lineplusbar does it too anyway...

[2015-02-27 01:06] liquidpele commented on #781
This is completed.  It's basic but easy to extend as needed.

[2015-02-27 01:06] #781 closed

[2015-02-27 01:07] liquidpele commented on #801
should be fixed now.

[2015-02-27 01:07] #801 closed

[2015-02-27 07:58] rxbyes commented on #73
Error: Invalid value for <rect> attribute y="NaN"

[2015-02-27 12:57] liquidpele commented on #73
@rxbyes if you can reproduce this error on the latest "development" branch?  Are there reproduction steps?

[2015-02-27 13:26] robinfhu commented on #781
:+1:

[2015-02-27 17:59] liquidpele commented on #259
Looks like this was fixed even prior to the forking.

[2015-02-27 17:59] #259 closed

[2015-02-27 20:29] liquidpele commented on #280
I'll be adding the tooltip info to the documentation soon, I'm digging into a lot of that code right now.

[2015-02-27 20:29] #280 closed

[2015-02-27 20:30] liquidpele commented on #70
ticks should not have repeated values anymore as of 1.7.0.

[2015-02-27 20:30] #70 closed

[2015-02-27 20:36] vbsql7 opened #823 "xAxis.axisLabel not centered for multiBarHorizontalChart"
The left-hand vertical text is the issue. It shows up, but at the very top of the chart instead of being nicely centered like the bottom axis label is.

In the code, the xAxis and yAxis are opposite because this is a 'horizontal' bar chart.

![screen shot 2015-02-27 at 3 31 01 pm](https://cloud.githubusercontent.com/assets/9969712/6420641/cd7733de-be95-11e4-820c-492db178acd3.png)

[code]

[2015-02-27 20:57] robinfhu commented on #771
@petersondrew any updates on the fix?

[2015-02-27 21:19] liquidpele commented on #823
Weird.  Verified in latest code.

[2015-02-27 21:37] liquidpele commented on #823
Okay, I fixed that, see the above pull request, just waiting on review.

[2015-02-27 21:37] #823 closed

[2015-02-27 22:01] robinfhu commented on #771
Since I would like this fixed, I am going to look into a solution.

[2015-02-27 22:06] robinfhu commented on #771
The nv.tooltip.cleanup function isn't removing the tooltips at all.

[2015-02-27 22:34] RenatoUtsch commented on #771
Yes, thats it. I brought that back but someone rolled it back.

The one thing I still don't understand is the delay when removing the tooltips. In the original code the delay was 500ms, in your code is 200ms, what's with this delay?

[2015-02-27 22:40] robinfhu commented on #771
@RenatoUtsch I don't know, it was written by @bobmonteverde I believe, but I think it has to do with making the tooltip removal a non-blocking action.  I think the timeout is arbitrary which is why I shortened it.

[2015-02-27 23:59] liquidpele commented on #771
I wonder if a better solution is to save the tooltip object outside the tooltip call function, and then when we need to get it again, just do tooltip.node()... that would avoid all this class and ID selection stuff.

[2015-02-28 00:39] liquidpele commented on #245
I think this is a bad idea in most cases so I don't see this coming into nvd3, closing this issue and good luck!

[2015-02-28 00:39] #245 closed

[2015-02-28 01:36] rxbyes commented on #73
this.marketingSearch = function (url, obj) {
        var dt = [];
        $http.get(url).then(function (resp) {
            var result = resp.data.result == null ? [] : resp.data.result;
            for (var x = 0; x < obj.timeData.length; x++) {
                var y = 10;
                for (var i = 0; i < result.length; i++) {
                    if (result[i].time == obj.timeData[x].time) {

[2015-02-28 01:39] rxbyes commented on #73
Images can be displayed properly, but the console error ：Invalid value for attribute y="NaN"

[2015-02-28 01:42] liquidpele commented on #73
You'll need to provide a jsfiddle or similar page that demonstrates the error.  If I can see it happening then it shouldn't be very hard to fix.  Thanks!

[2015-02-28 02:52] rxbyes commented on #73
d3.min.js:1 Error: Invalid value for <rect> attribute y="NaN"
2015-02-28 10:51:43.248d3.min.js:1 Error: Invalid value for <rect>
attribute y="NaN"
2015-02-28 10:51:43.249d3.min.js:1 Error: Invalid value for <rect>
attribute y="NaN"
2015-02-28 10:51:43.249d3.min.js:1 Error: Invalid value for <rect>
attribute y="NaN"
2015-02-28 10:51:43.250d3.min.js:1 Error: Invalid value for <rect>
attribute y="NaN

[2015-02-28 03:04] liquidpele commented on #73
You'll need to provide a jsfiddle or similar page that demonstrates the error.

For example, here is one using the latest code that shows MultiBarChart.  Just edit this to show the issue.  Otherwise I can't invest the time into looking into this.

http://jsfiddle.net/8DAQX/3/

[2015-02-28 03:18] rxbyes commented on #73
I will now look at a complex scene, thank you!

2015-02-28 11:04 GMT+08:00 liquidpele <notifications@github.com>:

[2015-02-28 03:54] #701 closed

[2015-02-28 03:54] #756 closed

[2015-02-28 13:06] RenatoUtsch commented on #771
YES, this would work with shadow dom too, and probably be faster.

[2015-02-28 22:51] robinfhu commented on #816
Did a git bisect, and this started happening after @fshao816 added the 'renderWatch' functionality.  Looking into this...

[2015-02-28 22:58] robinfhu commented on #816
The only solution I have is to turn of transition duration for the lines.  Let me pull request this.

[2015-02-28 23:03] robinfhu commented on #816
@eschlon PR opened.

[2015-02-28 23:03] #816 closed

[2015-03-01 04:11] robinfhu commented on #783
Oh this is a problem.  Chart.update does seem to add nv-point-clips without removing previous ones.
![point clips added](https://cloud.githubusercontent.com/assets/3769532/6429437/2c26b24c-bf9f-11e4-929b-a19ae5605950.jpg)

[2015-03-01 05:16] robinfhu commented on #783
@mpGitHub @liquidpele opened a PR with the fix.

[2015-03-01 05:16] #783 closed

[2015-03-01 05:51] robinfhu commented on #810
It looks like this was a consequence of creating the 'nvd3-svg' css class.  If users previously set pixel widths and heights on the SVG element, it will get overridden by the nvd3-svg class.

I think it is good practice to put each SVG container inside of a DIV, and set dimensions on the DIV. We should update the examples.

[2015-03-01 06:55] liquidpele commented on #810
na, the main issue is that we're setting height/width attributes on the svg, but we need to also set the height/width style attributes on the svg so that it overrides the main CSS.  Then it should go back to the previous functionality ^_^

[2015-03-01 06:55] liquidpele commented on #810
Set those when they explicitly call the height or width options on chart I mean.

[2015-03-01 14:45] RenatoUtsch commented on #810
I do use the SVG inside a DIV and used to set the dimensions on the DIV.

This used to work, but some commit since 1.7.0 changed the way it works and now only setting the css directly on the SVG works.

[2015-03-02 01:25] jufemaiz commented on #428
Any thoughts?

[2015-03-02 01:34] jufemaiz commented on #573
Care to provide back? :(

[2015-03-02 01:38] robinfhu commented on #428
I recognize it's not obvious, but there should be a way to override that tooltip.

Try this:

lineChart.interactiveLayer.tooltip.contentGenerator(  ...your function...)

[2015-03-02 01:43] robinfhu commented on #573
The fix is to override interactiveLayer.tooltip.contentGenerator.  It's not obvious unfortunately.  I should provide some examples.

[2015-03-02 01:46] robinfhu commented on #573
Similar to issue #428

[2015-03-02 01:50] jufemaiz commented on #573
:+1: thanks!

[2015-03-02 01:51] liquidpele commented on #428
lineChart.interactiveLayer.tooltip.contentGenerator( ...your function...)

Yup, I do that exact thing for the ohlcChart to override the tooltip from historicalBarChart.

[2015-03-02 02:27] jufemaiz opened #832 "v1.8.0.alpha"
build/nv.d3.js: Errors on lines: 2998, 3000, 7903, 9321, 9329, 10188, 10191
src/models/discreteBar.js: 61,63
src/models/multiChart.js: 61,63
src/models/scatter.js: 82,90
src/models/sparkline.js: 32,35

Whitespace between reference to "x" or "y" and "domain". Eg:

https://github.com/novus/nvd3/blob/master/build/nv.d3.js#L2998-L3000

[code]

Raising errors in Chrome.

[2015-03-02 02:29] robinfhu commented on #573
PR opened.

[2015-03-02 02:29] #573 closed

[2015-03-02 02:29] robinfhu commented on #428
PR opened.

[2015-03-02 02:29] #428 closed

[2015-03-02 02:30] jufemaiz commented on #832
Ah crap. Never mind >< Mistaken error sorry guys :(

[2015-03-02 02:30] #832 closed

[2015-03-02 02:31] robinfhu commented on #832
:-)

[2015-03-02 02:37] robinfhu commented on #713
For a workaround right now, add this line:

       chart.legend.align(false);

[2015-03-02 02:37] #713 closed

[2015-03-02 02:39] robinfhu commented on #562
Not a big deal actually.  You just need to adjust the chart's left margin:

     lineChart.margin({left: 90})

[2015-03-02 02:39] #562 closed

[2015-03-02 02:41] robinfhu commented on #534
Should be fixed now.

[2015-03-02 02:41] #534 closed

[2015-03-02 02:41] robinfhu commented on #523
Not a major issue right now.

[2015-03-02 02:41] #523 closed

[2015-03-02 02:42] #495 closed

[2015-03-02 02:46] robinfhu commented on #515
I know why this happens.

It's because 'showLegend' modifies margin.top.

If you turn the legend off, you can now modify the margin.top
 This is definitely a bug.

[2015-03-02 09:50] ocombe commented on #335
Did any of you found a way to make this happen ? Or do I have to use pure D3 and forget about nvD3 for now ?

[2015-03-02 10:23] wojteklenny commented on #804
I have the same problem. http://jsfiddle.net/ab79r879/
Seems like tooltips for green line are shown in some cases when hovering over blue line.
Any chance for fixing this soon?

[2015-03-02 12:01] robinfhu commented on #335
Try to code it in d3. I haven't given the real time update feature much thought yet.

[2015-03-02 12:01] #335 closed

[2015-03-02 14:39] OhJeez opened #834 "stackedAreaChart falls apart if x-points are not aligned"
If X points are not aligned, points of area above don't stack above the value below, but above the nearest defined point to the left of the area below.
See:
http://jsfiddle.net/xu1qz34u/4/

[2015-03-02 14:46] robinfhu commented on #834
Yeah you can't do that, this is not defined behavior.

[2015-03-02 14:46] #834 closed

[2015-03-02 15:14] OhJeez commented on #834
Then I think it should be noted in examples/documentation.

[2015-03-02 15:15] robinfhu commented on #834
Okay I will keep that in mind.

[2015-03-02 18:21] robinfhu commented on #804
@liquidpele is doing lots of work on tooltips right now.

[2015-03-03 09:38] wojteklenny opened #835 "Bar for 0 value in Chrome"
In Chrome there's a bar for 0 value displayed in multiBarHorizontalChart.
http://jsfiddle.net/dv41rhcc/ - see 'test3' and 'D' data series.
In Firefox it works well.

[2015-03-03 12:01] mtkachev opened #836 "MultiBarChart incorrect tooltip position within negative values"
Hi all,

Found an issue related to tooltip position in case when mouse cursor over the block with negative value.
Here is an example: http://jsfiddle.net/L5ay9ek3/2/ . Move mouse over the left bottom block and observe tooltip position.

Could you please clarify if there are any workaround exists for this issue?
Thanks.

Max.

[2015-03-03 14:16] liquidpele commented on #835
You can remove the zero lines with CSS, I updated your demo to do so:

http://jsfiddle.net/dv41rhcc/1/

[2015-03-03 14:18] liquidpele commented on #836
I'm in the process of changing a lot of the tooltips to be mouse-following, including for blocks and pie charts, so this should be fixed by that  :)

[2015-03-03 15:45] WoLpH opened #837 "Download links on the website broken"
Both the development and production links on the frontpage are broken.

http://nvd3.org/index.html

[2015-03-03 15:49] liquidpele commented on #837
@robinfhu the broken links are in the text:

    Download the latest nv.d3.js (version 1.1 beta). Get the development version, or minified production version.

[2015-03-03 16:07] robinfhu commented on #837
Yep, looks like it's because we moved things to the build/ folder.

[2015-03-03 16:12] robinfhu commented on #837
Fixed. Updated download links to point to v 1.7.1

[2015-03-03 16:12] #837 closed

[2015-03-03 16:12] robinfhu commented on #837
Btw, we use gh-pages to host the site.

Git checkout origin/gh-pages to update the site content, and then push it to origin/gh-pages

[2015-03-03 16:39] WoLpH commented on #837
Good to know, next time I'll fix it myself :)

[2015-03-03 16:47] robinfhu commented on #837
@WoLpH yeah you can issue pull requests against that branch.

[2015-03-03 17:19] heliodor commented on #145
I posted a pretty complete time series example on JsFiddle: http://jsfiddle.net/3r88bgjw/ Hope it helps.

It shows how to: 1) set the x scale to a time scale so default ticks are round values, 2) format the tooltip, 3) put tick marks on the x axis for usability, 4) use bars instead of line so any gaps are visible, 5) use multi-format so that time labels are short and fit nicely.

[2015-03-03 18:40] heliodor opened #839 "HistoricalBarChart shouldn't set the valueFormatter every time the mouse moves"
The HistoricalBarChart sets the valueFormatter every time the mouse moves. Shouldn't this be set only once, at init time? This behavior prevents the user from setting the valueFormatter himself.

Setting the x-value formatter works:

chart.interactiveLayer.tooltip.headerFormatter(function (d) { ... });

Setting the y-value formatter doesn't:

chart.interactiveLayer.tooltip.valueFormatter(function

[2015-03-03 19:33] robinfhu commented on #839
Yes, I had a PR open https://github.com/novus/nvd3/pull/831 to fix this.  @liquidpele  is fixing all the tooltip code right now, so this should be fixed in development soon.

[2015-03-03 19:33] #839 closed

[2015-03-03 23:41] kreidles opened #840 "Can't set chart.yAxis.tickFormat() in stackedAreaChart"
First, thanks for writing nvd3 - it's a great product!

Unfortunately, I ran into a problem with version 1.7.1.  I'm creating a stackedAreaChart as follows:

            var chart;
            nv.addGraph(function() {
                chart = nv.models.stackedAreaChart()
                    .margin({right: 100})
                    .useInteractiveGuideline(true)
                    .x(function(d) {

[2015-03-03 23:44] liquidpele commented on #840
Try chart.yAxis.tickFormat(d3.format(',.2f'))

[2015-03-04 15:52] kreidles commented on #840
Thanks for the response.  The code you suggest works only for the d3.format(',.2f') - I am unable set the format to anything except d3.format(',.2f')).

For example,  adding the code

chart.yAxis.tickFormat(d3.format(',.2s'));

has no effect.  I have also tried other numeric formats, but these also have no influence on the plot axis.

[2015-03-04 15:57] robinfhu commented on #840
There's a bug in the code.

[2015-03-04 16:00] robinfhu commented on #840
This has been fixed in the development branch.

[2015-03-04 16:03] robinfhu commented on #840
We don't have a releasable version.  If you want to make your own build, checkout the code from development branch, 'npm install', and run 'grunt'.

[2015-03-04 16:03] #840 closed

[2015-03-04 16:07] robinfhu commented on #840
@liquidpele how about we build dist/nv.d3.js in the development branch and create a pre-release tag for it?

[2015-03-04 16:08] #835 closed

[2015-03-04 16:08] wojteklenny commented on #835
Thanks for help.

[2015-03-04 16:38] liquidpele commented on #840
sure if you want to :)

[2015-03-04 16:40] robinfhu commented on #840
@liquidpele , okay, I'll take care of that.

[2015-03-04 18:47] rkofman commented on #840
Thank you for fixing this! I was just going to submit a duplicate issue, and then thought of searching closed issues first. Go, You! :)

[2015-03-04 18:49] maplesap opened #843 "donut pie chart will shrink if in Bootstrap 3 tabs"
Hi, I'm having a problem with v1.7.1. If I have a donut pie chart inside a bootstrap tab, the pie sections will shrink if moused over.

This does not happen in v1.1.15-beta.

Here is a plnkr:
http://plnkr.co/edit/G1Q8QiFpLnsA9116o2wq?p=preview

(click second tab and mouse over)

The current workarounds are to either:
(1) use v1.1.15-beta
(2) set `growOnHover: false` if using v1.7.1

The issue is d

[2015-03-04 18:53] robinfhu commented on #843
Whoa, that is weird.  So much has changed with pie charts I haven't been able to keep up.  Maybe this has to do with that new growOnHover feature that was added?

![small pies](https://cloud.githubusercontent.com/assets/3769532/6490634/bf09d980-c275-11e4-8ec9-cdefd0cf29a0.jpg)

[2015-03-04 18:54] robinfhu commented on #843
@maplesap do you think you can help look into this?  Fire up a debugger and find the solution?

[2015-03-04 18:56] robinfhu commented on #843
Just diving into the code, it looks like this has to do with 'arcRadius' being dependent on the availableWidth and availableHeight.

So clearly, something about the bootstrap tabs is causing that calculation to not work.

[2015-03-04 19:03] liquidpele commented on #843
Yup, I copied an example of changing the radius off stackoverflow so I guess I messed up a calculation somwhere :p

[2015-03-04 19:04] robinfhu commented on #843
@liquidpele I trust that you will find an elegant solution :-)

[2015-03-05 05:26] liquidpele opened #845 "The scatterChart example no longer displays shapes other than circles"
The scatterChart example should be displaying multiple types of shapes, including a custom-built shape defined in the scatterChart.html example page, but it's only displaying circles for me when I build latest and view it.

[2015-03-05 07:49] wraybowling opened #846 "Tooltips disable the very hover state that gives them life"
to reproduce: hover over a bar or point. So long as your cursor rests on top of the tooltip itself, hover state is transferred away from the bar or point, the tooltip disappears, hover is renewed, and the process cycles again and again ad infinitum giving them a sort of "flicker".

expected behavior: the tooltip doesn't affect the mechanisms that make them show up OR contributes to the events that

[2015-03-05 17:14] liquidpele commented on #846
I'm already refactoring all the tooltips currently, should be fixed when I'm done :)

[2015-03-05 17:14] #846 closed

[2015-03-05 18:31] wraybowling commented on #846
It was sort of a false alarm anyway. I had removed the default nvd3 css which included pointer-events:none; I brought that back as the quickest remedy. Thanks for looking at this ticket though.

[2015-03-05 19:12] AlonAmsalem commented on #145
amazing, thanks!

[2015-03-05 22:30] liquidpele commented on #836
Closing this for now.  The tooltips will be redone and better in 1.8.0 :)

[2015-03-05 22:30] #836 closed

[2015-03-05 23:20] robinfhu commented on #836
We're counting on you @liquidpele :-)

[2015-03-05 23:44] liquidpele commented on #836
So close... Only multichart left!

[2015-03-05 23:46] joshjordan commented on #836
Kickin ass. Nice job.

On Thu, Mar 5, 2015, 6:44 PM liquidpele <notifications@github.com> wrote:

[2015-03-06 01:21] mb-dev commented on #145
Thanks!

[2015-03-06 01:38] liquidpele commented on #145
@robinfhu Short term we should add that jsfiddle code as an example since it shows off a lot... long term we should probably merge in the main changes to historicalBar.  Time series makes a lot of sense for that chart, and line chart too.

[2015-03-06 02:25] rkofman opened #849 "Tooltip overriding for stackedAreaChart"
[Not sure if this falls more on the support request side (and belongs on StackOverflow), or if it's more of a feature refinement request. Please accept my apologies if this is the wrong forum.]

I might be doing something silly, but I'm having some trouble figuring out how to best provide custom tooltips for the `stackedAreaChart`. Trying to do `chart.tooltips(true).tooltipContent(function(){retur

[2015-03-06 13:17] robinfhu commented on #849
We're in the process of revamping tooltip API. Hold off until https://github.com/novus/nvd3/pull/851

[2015-03-06 18:18] #845 closed

[2015-03-06 21:43] Untit1ed commented on #474
+1. Really need this feature for every graph.

[2015-03-06 22:24] nomego opened #853 "arcTween for donuts not working"
When updating a piechart "donut" slice's datum with
[code]
and then calling
[code]
I sometimes get
[code]

with the current arcTween() function:

[code]

Replacing it with an approach like https://gist.github.com/mbostock/5100636 however, rewritten as:

[code]

works.

Can you see anything that might cause this based on my usage or does the arcTween() function need improvement?

[2015-03-06 22:35] rkofman commented on #849
#851 will get me most of the way there (fixes regular tooltips for stackedAreaChart -- YAY!). But what do you think of passing a little more data to the interactiveGuideline's tooltip?

Right now, it's only:
[code]
and I'd like to propose passing in `pointIndex` as well, to bring it up to par with
[code]
That gets passed to the regular tooltips.

[2015-03-06 22:36] rkofman commented on #849
(I can make a quick PR with the diff, if that seems reasonable)

[2015-03-07 06:05] jc0n commented on #220
I agree. This use case should definitely be supported. As @buddha314 said, time series data is a good example. Some series' data points may not be expected over certain time segments (ie. graph of metrics over time where a new metric is added at some point between the time range). The work around is to zero-fill the missing data which is probably not the optimal solution especially for large datas

[2015-03-07 12:28] liquidpele commented on #220
So basically, that particular chart is designed to assume matching points... If someone e wants to change that send us a PR :)

[2015-03-08 16:10] mgenov opened #854 "passing object array on nv.utils.getColor causes error"
It seems that in some situations nvd3 is passing object array for colors and

[code]
is not detecting where the provided object is array, where

[code]
is returning the correct result. This is the error which I'm getting before my fix:
![screen shot 2015-03-08 at 6 07 56 pm](https://cloud.githubusercontent.com/assets/209223/6546499/22dbc0a4-c5be-11e4-95bd-ceae75c645e1.png)

Improving of getColor f

[2015-03-08 16:15] mgenov commented on #854
Here is a screenshot from chrome debugger that shows actual value of the passed color:

![screen shot 2015-03-08 at 6 13 31 pm](https://cloud.githubusercontent.com/assets/209223/6546525/f999d81a-c5be-11e4-91bb-8bd1ff5158b0.png)

[2015-03-08 23:54] liquidpele commented on #854
I'm trying to figure out why in the world the instanceof would be failing for you, the best I can find is that apparently it failes if the array was created in a different iframe ( see http://stackoverflow.com/questions/22289727/difference-between-using-array-isarray-and-instanceof-array), are you loading d3 in a separate frame or something?

[2015-03-08 23:57] liquidpele commented on #853
What version of d3 are you on?  Can you provide a jsfiddle that demonstrates the error?

[2015-03-09 00:02] lukaprelic opened #855 "lineWithFocusChart's brushExtent option doesn't properly fade out the right side"
There is an error when drawing a linewithfocuschart where the right background (white shading) doesn't appear when rendering a graph with a preset focus range.
The right white shading width is wrongly calculated and therefore, doesn't display when the graph is rendered. Look at the first picture.

The problem is in updateBrushBG() function where the graph width is calculated using
rightWidth = x.r

[2015-03-09 05:01] mgenov commented on #854
Yes, this is my case. D3 and nvd3 are loaded in different iframe.
On Mar 9, 2015 1:55 AM, "liquidpele" <notifications@github.com> wrote:

[2015-03-09 05:07] mgenov commented on #854
Actually I'm integrating nvd3 in a GWT app and the GWT code is loaded in one iframe which schedules script loading of D3 and nvd3 in the root page by importing script and style at runtime.

[2015-03-09 13:06] camille-cowley opened #858 "Tooltips for charts with directive names containing 'g' are assigned to parent element instead and are no longer displayed with chart."
Tooltips for charts with directive names containing 'g' are assigned to parent body element instead and are no longer displayed with chart.
Relates to: in tooltip.js line 345 (dev branch), method nv.tooltip.show

Has the regex /g|svg/i perhaps this was meant to be g or svg tags with the flag /i but the regex does not match only these patterns, ( /^g|svg$/i is used further down and perhaps the meth

[2015-03-09 13:39] liquidpele commented on #858
I'm pretty sure I removed that in my tooltip refactor:   https://github.com/novus/nvd3/pull/851

[2015-03-09 13:45] liquidpele commented on #855
I can't reproduce this issue, be sure you're using the latest development branch and can you provide a jsfiddle or detailed steps?   I'm reluctant to just make this change since the leftWidth uses x.range()[0] which would also return a technically wrong value if x.range()[1] was.

[2015-03-09 13:56] liquidpele commented on #854
I opened a PR for this, closing.

[2015-03-09 13:56] #854 closed

[2015-03-09 14:45] mateuszs opened #860 "Values displayed on column"
Hi, is it possible to display values on chart's columns using multiBarChart? Like that:
http://oi60.tinypic.com/aoqtqs.jpg

[2015-03-09 15:26] liquidpele commented on #860
multiChart does not currently have the "showValues" option like discreteBarChart and horizontalMultiChart do, not sure why, it never had it when I started working on it.  If you'd like you can add the feature and send us a pull request :)

[2015-03-09 15:29] liquidpele commented on #849
Yea, we an extend it further, but lets get this large PR merged first... hopefully today or tomorrow unless someone finds a bug.

[2015-03-09 15:44] liquidpele commented on #806
This should hopefully be fixed by PR https://github.com/novus/nvd3/pull/851

[2015-03-09 16:00] liquidpele commented on #145
The jsfiddle example was merged into the project so there is an example there to work from at least, and w'ell try to make using a time series easier using that as a starting point.  Closing this story, and if anyone wants to help out send us a pull request :)

[2015-03-09 16:00] #145 closed

[2015-03-09 16:05] lukaprelic commented on #855
http://jsfiddle.net/lifebennder/p6na5y6n/8/ Here you go.

[2015-03-09 16:11] liquidpele commented on #855
Your link doesn't work, you can't hotlink javascript from github, use https://rawgit.com/

[2015-03-09 16:12] liquidpele commented on #855
Also you have d3 3.0.4 loading, but our min required is 3.4.4

[2015-03-09 16:21] lukaprelic commented on #855
http://jsfiddle.net/lifebennder/p6na5y6n/9/ here you go.

[2015-03-09 23:36] camille-cowley commented on #858
Sweet as.  It looks like #851 just hasn't been merged then in the development branch. I noticed there have been quite a few tooltip changes in #851, any idea on when they might get merged into the main branches?

[2015-03-09 23:38] camille-cowley commented on #858
Pending #851 to be merged.

[2015-03-09 23:38] #858 closed

[2015-03-09 23:59] liquidpele commented on #858
It'll probably get merged in the next day or so.

[2015-03-10 01:31] liquidpele commented on #855
Chrome doesn't let you load javascript from github directly.   I took the liberty of fixing your jsfiddle for you:    http://jsfiddle.net/p6na5y6n/12/

Confirmed bug.

[2015-03-10 02:23] liquidpele opened #861 "pie/donut chart labels are in wrong positions when a start and end angle are given"
On the examples page, the pie and donut that are a half circle have labels show up as if the chart was a full circle.  This is probably the same situation as this PR:  https://github.com/novus/nvd3/pull/818

[2015-03-10 02:25] liquidpele opened #862 "The pie/donut option "legendPosition" with value 'right' is buggy"
I tried to use this (it was a PR from a community member) and the legend gets cut off easily and when you disable/enable slices it will jump left and right.

[2015-03-10 02:27] liquidpele commented on #862
@driehuis can you look at this since it was your PR?

The original PR is:  https://github.com/nvd3-community/nvd3/pull/7

[2015-03-10 02:29] liquidpele commented on #576
This should be fixed with https://github.com/novus/nvd3/pull/851

Closing, but let us know if that doesn't fix it once merged :)

[2015-03-10 02:29] #576 closed

[2015-03-10 02:35] liquidpele commented on #418
We removed the highlightZero option and just added a "zero" css class to that line so you can style it how you like now.

[2015-03-10 02:35] #418 closed

[2015-03-10 02:42] liquidpele commented on #416
It looks like stackedArea.js has "stream-center" and "stack_percent" as options, but stackedAreaChart's controls don't have those options, it only has "stack", "stream" and "expand" as the controls.  We should look into enabling the other options, or at least making the controls configurable.

[2015-03-10 02:42] liquidpele commented on #799
Should be fixed.

[2015-03-10 02:42] #799 closed

[2015-03-10 02:57] liquidpele commented on #771
This should be fixed in my PR:  https://github.com/novus/nvd3/pull/851so closing this, let me know if the PR doesn't fix it!

[2015-03-10 02:57] #771 closed

[2015-03-10 03:24] liquidpele commented on #707
Closing this since it's not really a bug or anything, you can override inline CSS by using the !important css flag, or you can create a pull request that improves things.  Cheers!

[2015-03-10 03:24] #707 closed

[2015-03-10 03:28] liquidpele commented on #443
You could try hiding the axis line with CSS so that only the tick values are displayed, but beyond that you'd have to change things and send us a pull request.  Cheers.

[2015-03-10 03:28] #443 closed

[2015-03-10 03:33] liquidpele commented on #521
Seems to be fixed.

[2015-03-10 03:33] #521 closed

[2015-03-10 03:42] liquidpele commented on #402
This appears to be a duplicate of https://github.com/novus/nvd3/issues/521

However, I can't seem to reproduce the issue anymore... here is a jsfiddle attempted to do so:   http://jsfiddle.net/9ExJG/5/

Closing until we can reproduce and because this issue is pretty old.

[2015-03-10 03:42] #402 closed

[2015-03-10 03:45] liquidpele commented on #345
multichart can do this, see the example, it has a line on each y axis.  Also, issues with multichart shoudl be all fixed at this point.  Cheers!

[2015-03-10 03:45] #345 closed

[2015-03-10 08:16] driehuis commented on #862
Will do. To get met started quickly, could you point to a gist that reproduces the issue?

[2015-03-10 12:01] liquidpele commented on #862
I used the pieChart.html and donutChart.html examples in the project, and used legendPosition('right') on them, then I checked it out in chrome and it was cut off some, so I adjusted the right margin to zero to make room (which should be unnecessary anyway) and then it was jumping when I clicked on it.

[2015-03-10 12:01] liquidpele commented on #862
Oh, and I was using the half-circle examples, so that might have something to do with it.

[2015-03-10 13:05] robinfhu commented on #443
Try lineChart.xAxis.tickFormat()

[2015-03-10 14:02] liquidpele commented on #849
Okay, it has been merged, please send up a pull request and I'll close this issue out, thanks!

[2015-03-10 14:02] #849 closed

[2015-03-10 14:03] liquidpele commented on #809
This should be fixed by https://github.com/novus/nvd3/pull/851 I think.

[2015-03-10 14:03] #809 closed

[2015-03-10 14:04] liquidpele commented on #804
This should be fixed now I think.   https://github.com/novus/nvd3/pull/851

[2015-03-10 14:04] liquidpele commented on #794
This should be fixed now I think.  https://github.com/novus/nvd3/pull/851

[2015-03-10 14:04] #794 closed

[2015-03-10 14:05] liquidpele commented on #792
Shouldn't be an issue anymore:  https://github.com/novus/nvd3/pull/851

[2015-03-10 14:05] #792 closed

[2015-03-10 14:06] liquidpele commented on #303
tooltips allow easy format overriding now via chart.tooltip.headerFormatter and chart.tooltip.valueFormatter options. https://github.com/novus/nvd3/pull/851

[2015-03-10 14:06] #303 closed

[2015-03-10 14:07] liquidpele commented on #806
PR is merged, this should be fixed now, closing.  Please create any issues you find with the new tooltip code!

[2015-03-10 14:07] #806 closed

[2015-03-10 14:08] liquidpele commented on #393
Not enough info, please submit a pull request with the changes so it can be reviewed.

[2015-03-10 14:08] #393 closed

[2015-03-10 14:09] liquidpele commented on #378
Looks like a duplicate of https://github.com/novus/nvd3/issues/515 which Robin was working on, closing this one.  Thanks for the report though!

[2015-03-10 14:09] #378 closed

[2015-03-10 14:10] liquidpele commented on #399
Stacked area charts require that the bars all be using the same axis to be stacked, it really doesn't make sense to stack things that are using different axis.

[2015-03-10 14:10] #399 closed

[2015-03-10 14:11] liquidpele commented on #359
Please try using multiBarChart instead... the only difference is multiBarChart doesn't have the showValues option, and I'd rather add that then more to discreteBarChart

[2015-03-10 14:11] #359 closed

[2015-03-10 14:11] robinfhu commented on #378
This is a big problem actually, one which I struggle to find a clean solution to.  Margin:top basically does not do anything if showLegend=true.  If showLegend=false, margin:top suddenly works.

I did attempt a solution in https://github.com/novus/nvd3/pull/833, but I went down a rabbit hole and more margin issues emerged.

[2015-03-10 14:12] liquidpele commented on #328
Yes, using CSS is a good solution for this.

[2015-03-10 14:12] #328 closed

[2015-03-10 14:13] liquidpele commented on #337
I haven't seen this issue since picking up development, so marking closed unless someone can reproduce on the latest version

[2015-03-10 14:13] #337 closed

[2015-03-10 14:14] liquidpele commented on #275
multiBar's x axis is now using ordinal scale.

[2015-03-10 14:14] #275 closed

[2015-03-10 14:15] #262 closed

[2015-03-10 14:15] wojteklenny commented on #804
I've just checked dev barnch and still have the same problem and some new errors when using tooltipContent method now.

[2015-03-10 14:16] liquidpele commented on #249
This is really old, closing, please try the latest version and if you experience further issues open a new issue, thanks!

[2015-03-10 14:16] #249 closed

[2015-03-10 14:18] robinfhu commented on #337
The issue might be 'voronoi', the calculations for those are intense.  I noticed a lot of revamping of the scatter.js code, so it may have been solved.

[2015-03-10 14:19] liquidpele commented on #368
This looks to still be an issue in the stackedAreaChart example if you use regular tooltips and not the guideline.  Interestingly I couldn't reproduce errors with the lineChart though...

[2015-03-10 14:24] liquidpele commented on #804
I forgot to built latest too... I just a second ago built it and pushed it up so you can just use the files in the "build" directory of the development branch.  Sorry and can you check again please?

[2015-03-10 14:25] liquidpele commented on #337
Yea I rewrote it due to chrome laggyness based on a blocks example that didn't have the issue.  I never saw IE laggyness but probably similar thing.

[2015-03-10 14:26] wojteklenny commented on #804
I build it by myself, but can check your build to be sure. Just a second.

[2015-03-10 14:39] wojteklenny commented on #804
Yep, unfortunately I can confirm, still does not work for me with tooltips and new errors when using tooltipContent.

[2015-03-10 14:41] liquidpele commented on #804
Yes, tool tip content is deprecated.  Errors are expected if you're using that... Use chart.tooltip.contentGenerator and note the passed data structures a different (more generic)

[2015-03-10 15:47] lucas03 opened #865 "lineplusbarchart - timeline showing year1970 if number of bars is 7 and lower"
Is this a bug or is there a minimum data volume that should be visualized by graph? http://stackoverflow.com/questions/28920202/line-plus-bar-chart-invalid-dates-showing-in-timeline

[2015-03-10 16:06] liquidpele commented on #865
Hi there, can you provide a jsfiddle (or similar online demo site) that shows the issue using the latest version?   Thanks!

[2015-03-10 16:25] lucas03 commented on #865
Sure, here it is:
http://jsfiddle.net/g7s19osx/1/

[2015-03-10 16:26] liquidpele commented on #804
Okay, I reproduce this using this jsfiddle:   http://jsfiddle.net/ab79r879/5/

Basically, in chrome it positions the voronoi areas correctly, but in FF it overlaps them for the line on the right axis for some reason... very weird.  This is an issue with the voronoi calculation and not tooltips.  Re-opening this.

[2015-03-10 16:28] liquidpele commented on #804
I think the major issue here is that we're creating two distinct voronoi layers, we should really only be creating one, or overlaps are going to still be issues regardless...

[2015-03-10 16:45] liquidpele commented on #865
you're giving it bad data... I updated it to use latest d3 and nvd3 and fixed it up for you:

http://jsfiddle.net/g7s19osx/2/

I have an empty hidden line there because it throws errors without a line, if you want just bars you should probably be using either historicalBarChart or multiBarChart.

[2015-03-10 17:13] lucas03 commented on #865
ok, thanks a lot.

[2015-03-10 17:13] #865 closed

[2015-03-10 18:10] Resseguie opened #866 "tooltipContent documentation wrong for scatterChart"
The documentation for the tooltipContent function for scatterChart is wrong here:
http://nvd3-community.github.io/nvd3/examples/documentation.html#scatterChart

It should accept function of form:
function(key, x, y, pointTooltip, e, chart)

It looks like those docs are generated, but I couldn't find where to offer a PR. I'm happy to if someone will point me in the right direction.

[2015-03-10 18:19] liquidpele commented on #866
quoting the docs:

    Function used to build the tooltip content. **The variables passed to the function can depend on the chart (i.e. it depends on what makes sense for the chart) so you might want to console.log stuff when playing with this to see what's available.**

[2015-03-10 18:20] liquidpele commented on #866
Also the data passed changed recently due to tooltip refactor ;)

[2015-03-10 19:07] Resseguie commented on #866
Ah, that might have been what threw me off. I thought it was just something out of sync between the forks.

[2015-03-10 19:07] #866 closed

[2015-03-10 19:51] robinfhu commented on #804
Just a side note, we don't need voronoi...period.  Didn't nvd3 community update scatter.js so that each point was surrounded by an invisible circle, which was supposed to replace the voronoi boxes?

[2015-03-10 21:39] mtr opened #867 "Showing the legend in multiBarHorizontalChart breaks color-per-series in version 1.7.1."
Hi,

I searched through the issues in the tracker, but didn't detect this issue as already reported.  I have created [an example in Plunker](http://plnkr.co/edit/V085PNbVMV9u9TNlf3oU?p=preview) that shows how enabling the legend causes the color per series in multiBarHorizontalChart to break.

[The plunk](http://plnkr.co/edit/V085PNbVMV9u9TNlf3oU?p=preview) is basically and updated example, based

[2015-03-10 21:47] liquidpele commented on #867
Could have sworn we fixed that.... Can you try the development branch instead of 1.7.1?

[2015-03-10 21:51] robinfhu commented on #867
Use this pre-release version: https://github.com/novus/nvd3/releases/tag/v1.8.1-alpha

[2015-03-10 21:57] mtr commented on #867
Great!  This seems to have been fixed in v1.8.1-alpha, just like you said, and as [my updated plunker shows](http://plnkr.co/edit/kdOVxmrRAbp0rOE6G2Sa?p=preview).  Thanks for your suggestions @robinfhu and @liquidpele.  Thank you!

[2015-03-10 21:57] #867 closed

[2015-03-10 22:05] robinfhu commented on #867
You're welcome!  Please test v1.8.1 and see if other charts still work as you expect.

[2015-03-10 22:10] liquidpele commented on #867
Hmm I need to document the new options still....

[2015-03-10 22:15] NameFILIP opened #868 "Add links to a CDN"
When I add CSS and JS files from the [nvd3](http://nvd3.org/) main page, it doesn't work as expected. In Chrome's console it prints:

[code]

An explanation of the issue - https://rawgit.com/faq

I suggest changing links from
https://raw.githubusercontent.com/novus/nvd3/master/build/nv.d3.css
to
https://cdn.rawgit.com/novus/nvd3/v1.7.1/build/nv.d3.css or https://cdnjs.cloudflare.com/ajax/libs/nvd3

[2015-03-10 22:17] liquidpele commented on #868
That is GitHub not us.

[2015-03-10 22:17] liquidpele commented on #868
Google "rawgit"

[2015-03-10 22:18] liquidpele commented on #868
Oh wait you mean instruxtions on our page are wrong?

[2015-03-11 01:01] NameFILIP commented on #868
Yes, I mean to change links in the instructions

[2015-03-11 01:14] liquidpele commented on #868
Ah okay, we should change the links to be to:

https://cdn.rawgit.com/novus/nvd3/master/build/nv.d3.js

https://cdn.rawgit.com/novus/nvd3/master/build/nv.d3.min.js

(rawgit will keep their cdn updated based on the actual git files)

[2015-03-11 02:16] liquidpele commented on #868
Fixed by @NameFILIP

[2015-03-11 02:16] #868 closed

[2015-03-11 03:21] liquidpele commented on #590
This is easy, just do this:

    chart.stacked.dispatch.on('areaClick.toggle', null);

But make sure you do it AFTER the .datum(...).call(chart) and inside the 'addGraph' block... so that the chart object is created and it has already gone through the generation code so that your code over-writes the already created dispatch.   Cheers.

[2015-03-11 03:21] #590 closed

[2015-03-11 05:24] liquidpele commented on #471
I added a time series example we can work from the other day.

[2015-03-11 05:24] #471 closed

[2015-03-11 05:25] liquidpele commented on #385
This is a duplicate of this more recent bug (which I added a jsfiddle for that reproduces it)

[2015-03-11 05:26] liquidpele commented on #385
the other issue: https://github.com/novus/nvd3/issues/855

[2015-03-11 05:26] #385 closed

[2015-03-11 05:28] liquidpele commented on #341
This was answered.

[2015-03-11 05:28] #341 closed

[2015-03-11 05:29] liquidpele commented on #758
duplicate of https://github.com/novus/nvd3/issues/620

[2015-03-11 05:29] #758 closed

[2015-03-11 05:29] liquidpele commented on #299
duplicate of https://github.com/novus/nvd3/issues/620

[2015-03-11 05:29] #299 closed

[2015-03-11 08:03] swiesner opened #870 "Custom colors in pie chart ignored"
If one sets custom colors in your data elements, the color gets ignored in a pie chart. The legend is colored correctly, though. You can evaluate this in the live code also. Just set one data element in the JSON data to e.g. color = #505050 and watch how the legend is updated but the chart itself is not.

[2015-03-11 10:03] liquidpele commented on #870
What version did you reproduce this on?

[2015-03-11 11:50] SHARUKH-SD opened #871 "exporting function"
pls update module to export the chart into pdf /png or both it would be really helpfull!!

Ty,
Well Wishing Developer

[2015-03-11 11:58] liquidpele commented on #871
This isn't on the roadmap currently, feel free to fork and send us a pull request though!

[2015-03-11 11:58] #871 closed

[2015-03-11 12:35] SHARUKH-SD commented on #871
I feel nvd3 is so cool , with this one function I think its perfect (apart from minor bugs) any ways i wrote custom function to import but it would be great if there is an option just like downloadPng: true  , any ways thx fr quick response

[2015-03-11 12:38] SHARUKH-SD commented on #871
and I am new on git so dont know much on pull requests , I forked it anyway :D

[2015-03-11 12:59] swiesner commented on #870
Realised it when we changed version from like 1.1.15 to the actual stable. You can reproduce it with the actual live code on nvd3.org/livecode/index.html, just select the pie chart and give one data a color value. It does work inside other charts though.

[2015-03-11 16:27] RenatoUtsch opened #872 "CumulativeLineChart not updated for new tooltips"
The CumulativeLineChart was not updated to work with the new tooltips.

[2015-03-11 18:26] liquidpele commented on #872
ugh, I guess I missed that one...

[2015-03-11 18:28] robinfhu commented on #872
Everyone forgets cumulative line chart :-)

[2015-03-11 18:43] pcwiek opened #873 "Charts freeze and throw voronoi error if two series have the same point"
Hi there,

I have 3 charts with date series (x-axis) and numbers on y-axis, line chart, stacked area chart and bar chart.
Each one of the series in any given chart has 240 points, 4 series on a chart.

In 1.1.15 everything is snappy and works really great on IE, Chrome and FF.
My d3.js version is [3.5.5](http://www.nuget.org/packages/d3/3.5.5)

The only error I'm getting in the console is this, wh

[2015-03-11 18:55] liquidpele commented on #873
Hi there, I certainly haven't seen anything like this... Can you provide a jsfiddle that shows the issue using the latest nvd3 version?

[2015-03-11 19:04] pcwiek commented on #873
I'll certainly try.

Maybe it's something 'local', but it's still very weird that previous version works without any issues and current one seems to be throwing a fit.

I'll work on a fiddle and see if I can reproduce it.

[2015-03-11 22:19] thcrock commented on #293
I was able to fix that using a more granular pointer-events rule.

`pointer-events: visibleStroke`

This will only bring the area up to the front (and display a tooltip) if you hover over the line at the top of the area fill.

As far as the original bug (lines getting rendered behind areas by default), it seems that it still exists in the development branch. A pull request was attempted for this,

[2015-03-12 02:27] liquidpele commented on #872
https://github.com/novus/nvd3/pull/874

[2015-03-12 02:27] #872 closed

[2015-03-12 02:33] liquidpele commented on #804
Nope, we never moved from voronoi.  You really do need it for a lot of points though, otherwise the hover will be really weird when the circles/whatever are all overlapping due to multiple lines overlapping.

[2015-03-12 02:34] robinfhu commented on #804
Yes you are right

[2015-03-12 03:49] driehuis commented on #862
Nah, it's obviously deeper than just using half-circle donuts. I have reproduced the issue, and also saw where my own testing was off so that I missed this problem completely.

I always religiously try to avoid duplicating settings in CSS and JS or HTML, and I had not spotted that the nvd3 examples set an svg size in css, and define identical sizes in JavaScript. That oversight on my part explains

[2015-03-12 04:23] liquidpele commented on #862
Na, I'll just leave it in for now, the bug doesn't affect anything unless you explicitly try to use that feature so it's no big deal.   Novus decided they wanted to put time toward nvd3 again, and added myself and another community member to their org so I have full access here now too.  Using this repo is easier since it gets way more traffic/etc.

[2015-03-12 12:31] gsalvati commented on #395
We had the same problem here, but this implementation of Area Chart uses X axis as a timeline to render it. So it needs to be a timestamp label / value to put your Y values in between the max and min dates, your X values will not be the labels.

[2015-03-12 12:34] madvas commented on #367
Thanks @triomen ! including shim worked like a charm for me

[2015-03-12 13:05] pcwiek commented on #873
I narrowed it down to `lineWithFocusChart`. If I remove it from the page, everything works.

I kept digging through old issues and adding one line to `lineWithFocusChart` configuration also seems to make the issue go away:

    chart.useVoronoi(false);

Then everything renders properly and there are no errors whatsoever in the console or otherwise.

Although, admittedly, overall performance is bet

[2015-03-12 13:42] driehuis commented on #862
Just created a pull request. The new code is not ideal, but it's the best I can do at short notice. What should be done is to change the legend code to prefer a vertical orientation when drawing in a narrow, tall space, to optimize screen real estate.

This code seems robust in the face of tinkering with width and height, and I have not seen jumps in legend position with the new code.

[2015-03-12 13:43] driehuis commented on #862
P.S. Is nvd3-community now officially dead? In that case I'll nuke my fork and start a fresh one to facilitate pull requests.

[2015-03-12 13:54] liquidpele commented on #862
nvd3-community is in hibernation - yea you should fork the novus one and work on that at this point.

[2015-03-12 14:00] liquidpele commented on #862
made a PR from nvd3-community:   https://github.com/novus/nvd3/pull/875

[2015-03-12 14:08] liquidpele commented on #873
Now that is weird... there were issues with the old version and useVoronoi where chrome and IE would have performance issues, but I reworked that code based on http://bl.ocks.org/njvack/1405439 and I haven't seen any performance issues since then.

Is there any way you can provide the problem chart online where I an look at and debug it?

Are there errors in the js console?

Do the voronoi regions

[2015-03-12 14:54] pcwiek commented on #873
I'll try to get a fiddle together, I can't promise it thought because of my time constraints and deadlines :)

Anyway, if I enable voronoi and kill d3.js when it hangs under FF, next render shows the chart, but the console says:

TypeError: vb is null

    function d3_geom_voronoiHalfEdge(edge, lSite, rSite) {
        var va = edge.a, vb = edge.b;
        this.edge = edge;
        this.site = lSit

[2015-03-12 15:17] liquidpele commented on #873
Ah okay, that helps.   This looks related:  https://github.com/mbostock/d3/issues/1908

So this may be related to the known issue where we don't handle having two of the same point:

https://github.com/novus/nvd3/issues/368

[2015-03-12 15:19] liquidpele commented on #873
Can you try removing any duplicate points (even if they're on different lines) to see if that makes the chart work properly?  I know that's not a solution, but it would verify that the above is indeed the issue.

[2015-03-12 17:25] pcwiek commented on #873
That's it! If I leave just one series on the chart (by cutting 3 other series out), everything works even with `useVoronoi(true)` without any errors.

[2015-03-12 19:09] RenatoUtsch opened #877 "Problem with some charts and ShadowDOM"
@liquidpele after your tooltip pull request, the line, cumulativeLine and stackedArea charts started to work perfectly under Shadow DOM (at least with the tooltips).

The problem is, with all other charts, the tooltips just stopped to appear. The code of my project that adds ShadowDOM to nvd3 is here:
https://github.com/RenatoUtsch/polynvd3/tree/development

Two links for examples of the bug:
Stac

[2015-03-12 19:29] liquidpele commented on #877
So is it working when interactive guideline is enabled, or is it not working on some charts regardless even if they have that option and you enable it?

[2015-03-12 19:37] RenatoUtsch commented on #877
If I disable interactive guideline the three charts that currently work stop working too.

[2015-03-12 19:52] liquidpele commented on #877
OK.  Probably an issue due to putting tooltip div on body instead of container.  There is an option to specify container on chart.tooltip object.

[2015-03-12 20:43] bartiosze opened #878 "Missing examples"
I noticed there are some missing examples in the `examples/` directory. Are those missing examples placeholders for nice-to-have examples or was `examples/index.html` left unchanged after the examples' sources were removed?

I'm curious about those crossfilter and horizon examples.

I might also work on something that need polishing (with my limited JS skills).

[2015-03-12 21:42] liquidpele commented on #878
That file is old...open site.html instead :)

[2015-03-12 21:54] bartiosze commented on #878
oh, then I'll close the issue.
Or do you want a PR removing this file?

[2015-03-12 21:54] #878 closed

[2015-03-12 23:18] liquidpele commented on #878
no I left it because I wasn't sure if the Novus guys were still using that or not

[2015-03-13 00:00] liquidpele commented on #873
Okay, closing this then as a duplicate... I'll try to get this fixed soon, several people have brought it up.

[2015-03-13 02:22] liquidpele commented on #873
Please check using this fix to see if it resolves your issue.  This fixed the stackedareachart for me, which had the same bug.

https://github.com/novus/nvd3/pull/880

[2015-03-13 02:28] liquidpele commented on #368
Okay, I think https://github.com/novus/nvd3/pull/880 will fix this, although I'd like a better solution eventually, please let me know if anyone still has issues with it!

[2015-03-13 02:31] #368 closed

[2015-03-13 02:32] liquidpele commented on #873
Actually I'll open this issue and close the other one since that one is reeeeealy old and I don't know if they'll ever reply and verify things are fixed :p

[2015-03-13 13:18] jamesspencer commented on #809
Thanks!

[2015-03-13 13:58] RenatoUtsch commented on #877
Yes, it seems that the tooltip appears in the wrong place when it is on the body.

[2015-03-13 15:27] liquidpele commented on #877
try specifying chart container to see if that fixes it for shadowdom:

    chart.tooltip.chartContainer(getElementById('#div_containing_the_svg'));

The interactive guideline does that automatically, but normal tooltips just default to using document.body

[2015-03-13 18:15] liquidpele commented on #870
Fixed in https://github.com/novus/nvd3/pull/882

[2015-03-13 18:15] #870 closed

[2015-03-13 18:25] liquidpele commented on #862
This is still a little buggy.  Using this feature on the existing pieChart.html example, on the half-circle, it makes the circle show up centered vertically but the legend isn't so they look off, then on the first automated update it all shifts a little.   Using chrome.

[2015-03-13 19:39] liquidpele commented on #873
Can you confirm that the latest code in the development branch fixes your issue?

[2015-03-13 19:52] liquidpele commented on #290
I'd like to look into this.  Having the bars on the end with different widths just seems weird.

[2015-03-13 21:07] mpGitHub opened #883 "Line chart hover on a single spot does not show all items."
When a line chart has two or more lines that intersect at the exact same point it sometimes will not show both points on hover.

I attached 2 pictures.  The first picture shows hovering over the spot and it only shows one orange color for "test" at that point.  If I hide and show the blue line via the legend the hover shows both colors at that point indicating there are multiple lines at this poin

[2015-03-13 21:08] mpGitHub commented on #883
![pict_1](https://cloud.githubusercontent.com/assets/8506767/6647321/1d4e1c00-c99b-11e4-8ef2-12c403005851.png)
![pict_2](https://cloud.githubusercontent.com/assets/8506767/6647322/1fb6224e-c99b-11e4-81e0-f2462e917086.png)

[2015-03-13 21:09] mpGitHub commented on #883
BTW - the tooltips look much better in the Dev track.

[2015-03-13 21:45] liquidpele commented on #883
Hi there!  Would it possible to have you create a jsfiddle that demonstrates the problem?  That really speeds up our ability to debug and fix issues if we can see it reproduced in live code.

[2015-03-13 21:53] liquidpele commented on #883
Tooltip not showing multiple things on hover is a known limitation currently.  We have some ideas for that part.

[2015-03-13 21:54] liquidpele commented on #883
I'm not sure what you would consider the correct behavior for the dots on hover though... What if 5 points intersected?

[2015-03-13 22:04] pcwiek commented on #873
I hope I'll have a chance to test it out on Monday

[2015-03-13 23:30] floribon opened #884 "Bug with margin, width and height options for Pie Chart"
Forcing a `height` or a `width` seem to be ignored by the chart, and the `margin` option has a werid behavior.

If you look around this line: https://github.com/novus/nvd3/blob/master/build/nv.d3.js#L9081
The `availableWidth` and `availableHeight` are wrongly computed. Basically, at least in my environment, the `margin` variable here is the one defined a few lines above (`{top: 30, right: 20, bott

[2015-03-14 01:04] driehuis commented on #862
First of all, that's what you get for squeezing a round peg into a square hole  :-)  The CSS+JS specify a square 350x350 canvas for an image that is composed of a 175x100 piechart, side by side with a 175x100 legend. I would think that users, who want a legend to the right, have that preference because the screen real estate they're dealing with is elongated, say a 2:1 aspect ratio (or as in my us

[2015-03-14 01:34] liquidpele commented on #862
Haha, yea, the chart being small I'm not worried about, that's expected.  The legend not being vertically centered there I think should be fixed, since it should be lined up with the chart if it's on the side, and the jump obviously should be fixed.   :)

[2015-03-14 01:44] liquidpele commented on #884
Yea, looks like something weird is going on there... will look into it.

[2015-03-14 17:28] mpGitHub commented on #883
Anything to denote that there are other lines at that point.  What if that particular line only has a single dot at that point because of sparsity of data for that line?  Or two lines follow the exact same path.  You have no idea where it is unless you activate the legend to only show data for that line.  Isn't it feasible to show a series of smaller to larger dots with the z-order highest for the

[2015-03-14 18:10] liquidpele commented on #883
Right, the tooltip part is mostly obvious... just show multiple Y values like the interactive guideline does already.  I'm more or less opening it up for discussion how the dot should look visually on hover if more than one item exists there.  Having the dots on top of one another but different radiuses seems okay until you need like 10 dots for instance, and it would take a lot of rework.   Curre

[2015-03-14 23:04] liquidpele commented on #877
Okay, so I took a look at your project and polymer, neat stuff.  It looks like in your abstract-chart model, you just need to enforce the tooltip being in the container of the svg... just glancing at it, it looks like you save the svg object via

    this.svg = d3.select(this.$.svg);

So you could just do something like this in the createChart function maybe

    if(chart.tooltip) {
        chart.

[2015-03-14 23:15] RenatoUtsch commented on #877
@liquidpele Thanks. Yeah, I save the svg like that.

Ah, okay, I was just doing this:
[code]

And I was getting an error in one of the charts. I needed to test for chart.tooltip then.

Now the tooltip is working in most of the charts, but the pie chart is still not working.

[2015-03-14 23:38] liquidpele commented on #877
Hmm, that's weird, the pie chart works the exact same as the bar charts... is there an error in the js console?

[2015-03-15 13:24] RenatoUtsch commented on #877
chart.tooltip is not defined in the pie chart.

[2015-03-15 13:36] liquidpele commented on #877
Oh!  Well that's a bug!

[2015-03-15 20:20] liquidpele commented on #877
Fixed in dev branch.

[2015-03-15 20:21] liquidpele commented on #877
Let me know if there is anything else not working.

[2015-03-15 22:11] RenatoUtsch commented on #877
Okay, this fixed it here.

I'll continue tomorrow to test everything.

Thanks!

[2015-03-15 22:30] RenatoUtsch commented on #877
@liquidpele a warning about nv.utils.optionsFunc being deprecated appears in all charts. The problem is, I don't use it. Maybe some code is still calling this function?

[2015-03-15 23:01] liquidpele commented on #877
Well... I have no intention of deprecating that anyway, I guess I should remove it.

[2015-03-16 19:57] mpGitHub commented on #883
Good point.  After a certain threshold of items at the same spot it loses practicality.

Couple ideas:
* Only show the top 3 or so items with a different radius as mentioned above and after that the user must rely on the tooltip for any others that are also at that point.
* Show a single dot that is styled differently such as have a unique colored or textured border that is not part of any line on

[2015-03-16 20:05] mpGitHub commented on #883
Oh - I agree it's a feature to handle this situation better, but the part where the tooltip does not show all items it is hovered on sounds like a bug.

Tks

[2015-03-16 23:31] liquidpele commented on #877
everything working?

[2015-03-17 00:56] lizadaly commented on #196
In case anyone else finds this, this happens if your y-axis data is not in ascending order. This isn't documented; that would definitely have saved me a lot of time.

[2015-03-17 01:02] liquidpele commented on #196
huh?  Do you mean the x-axis data?   nvd3 definitely requires that the x-axis values are ordered prior to giving them to nvd3 (for a variety of reasons).  So for instance a series can be [{x: 0, y: 3}, {x: 1, y: 2}, {x: 2, y: 8}], but [{x: 1, y:2}, {x: 2, y: 8}, {x: 0, y: 3}] will give strange behaviors.

[2015-03-17 01:13] RenatoUtsch commented on #877
Dunno if it is a problem with bower, but nvd3#development still warns about nv.utils.optionsFunc being deprecated.

[2015-03-17 01:17] liquidpele commented on #877
Oh yea, I forgot.   Okay, I just removed that.  Any other issues related to shadow-dom?

[2015-03-17 01:20] RenatoUtsch commented on #877
There are still some issues I was trying to solve:
- All charts with interactive guideline are not showing the hover circles when under a point in the chart. The scatter chart also.
- I'm having a problem with the pie chart: when hovering on the chart areas, the pie chart actually gets smaller (2nd example of the pie demo, the first with NAN is probably my fault)
- The stacked area chart is having

[2015-03-17 01:25] liquidpele commented on #877
The pie chart thing sounds like https://github.com/novus/nvd3/issues/843, you can work around it by doing chart.growOnHover(false) which turns off the radius tween that messes it up.

The others I'm not sure, but they sound like separate issues from the tooltip stuff we just fixed.  I'll close this issue and you can open new issues for each item that you can reproduce / get details on.   Cheers.

[2015-03-17 01:25] #877 closed

[2015-03-17 01:50] RenatoUtsch commented on #877
Yes, that's it, thanks. The tooltips are working flawlessly now.

[2015-03-17 02:33] liquidpele commented on #873
Hey there, any further problems?   If not I'll close this issue.

[2015-03-17 02:43] liquidpele commented on #855
Created https://github.com/novus/nvd3/pull/891, closing this issue.

[2015-03-17 02:43] #855 closed

[2015-03-17 03:43] dacox commented on #290
Excellent, I'd love to find  solution for this

[2015-03-17 11:11] RenatoUtsch commented on #877
@liquidpele the tooltips stopped showing the information of some charts that are built correctly and used to have correct values on the tooltips. Now only NaN appears.

For example, in my repo in nvd3-scatter-chart/demo.json, the 2nd chart that does NOT set the size of the circles shows only NAN in the tooltips.
The first pie chart example also shows NAN but I don't know why, but it used to work c

[2015-03-17 12:45] pcwiek commented on #873
Bumping the jitter also seems to work.

Anyway, I'll probably use `useVoronoi(false)` for now, just to be safe. Thanks for help!

[2015-03-17 12:48] liquidpele commented on #873
Okay, closing this until a better solution is found (tracked by https://github.com/novus/nvd3/issues/330 and some potential things at https://github.com/novus/nvd3/pull/448)

[2015-03-17 12:48] #873 closed

[2015-03-17 13:19] RenatoUtsch commented on #877
@liquidpele also, if I create two charts, the tooltip of the second chart gets at the bottom of the page, in the wrong position.

This was a change done yesterday, because this wasn't happening.

[2015-03-17 13:22] RenatoUtsch commented on #877
Yeah, multiple charts on the page are now with all the tooltips except the tooltip of the first chart wrong. Will create a new issue.

[2015-03-17 13:24] liquidpele commented on #877
I didn't change anything yesterday that would affect tooltips:

https://github.com/novus/nvd3/commits/development

For the NaN thing, open a new issue and I'll take a look.

[2015-03-17 13:25] RenatoUtsch opened #893 "More problems with Shadow DOM and tooltips"
@liquidpele

So, today I went and started to test the tooltips again, but a change yesterday must have broken something, because now if I create multiple charts only the tooltip of the first chart gets positioned right. All the other tooltips appear at wrong positions or at the bottom of the screen.

Also, I noticed another problem:
The tooltips stopped showing the information of some charts that

[2015-03-17 13:25] RenatoUtsch commented on #877
Lets close this here, look at #893.

[2015-03-17 13:26] RenatoUtsch commented on #893
I'll revert some nvd3 commits and see why the charts are being positioned incorrectly.

[2015-03-17 13:32] liquidpele commented on #893
whoops

[2015-03-17 13:32] liquidpele commented on #893
Okay, I won't be able to look at it for a while, so if you can track down the specifics in the meantime that woudl be helpful.

[2015-03-17 13:36] RenatoUtsch commented on #893
Actually, I reverted a lot of nvd3 commits and my own too in my repo to test, but the problem is always happening. So I assume it was a bug I didn't notice.

Later today I'll take a deeper look at this.

[2015-03-17 20:21] RenatoUtsch opened #895 "Axis not rescaling with resize (issue with axis.ticks())"
I noticed that something that used to happen with the old nvd3 (the version on the website) that was very important for responsive designs stopped happening somewhere between the creation of nvd3-community and here.

If you open an example at nvd3.org and look at it with no zoom and then zoom it in, you'll notice that the axis adds and removes ticks according to the chart size:

- Before Zoom
![sc

[2015-03-17 20:25] RenatoUtsch commented on #893
The Scatter Chart is also a bit strange, the tooltips are not moving correctly and they disappear if I stop on one of the points.

[2015-03-17 20:29] robinfhu commented on #895
Yeah, I see what you mean. Looking at it

[2015-03-17 20:29] liquidpele commented on #893
this issue is closed now you will need to open something new and make sure to include specific reproduction steps or an online demo that I can look at

[2015-03-17 20:30] liquidpele commented on #893
oh wait this is the new one but I still need something more than a vague description

[2015-03-17 20:32] RenatoUtsch commented on #893
About the tooltip position problem, the width is being set correctly, but the height is not being changed.

I'll update the online demo for you.

[2015-03-17 20:35] robinfhu commented on #895
It was one of my changes: 6f57104

[2015-03-17 20:36] robinfhu commented on #895
I had tried to fix https://github.com/novus/nvd3/pull/601, but it looks like I broke the original functionality, which had the chart automatically figure out the ticks.

[2015-03-17 20:38] robinfhu commented on #895
There needs to be a way we can reconcile the ability to let users set the number of ticks they want, and allow the charts to automatically figure out the number of ticks.

[2015-03-17 20:41] RenatoUtsch commented on #893
- Scatter chart disappearance problem on the first chart, incorrect positioning and NaN values in the second chart.
http://renatoutsch.com.br/bower_components/polynvd3/nvd3-scatter-chart/demo.html

- Second pie chart with positioning problems and first chart with NaN values:
http://renatoutsch.com.br/bower_components/polynvd3/nvd3-pie-chart/demo.html

- Other charts:
http://renatoutsch.com.br/bowe

[2015-03-17 20:42] robinfhu commented on #895
One idea I have is to add a new property to nv.model.axis, called "autoTicks". If autoTicks is set to true, the axis will ignore the ticks() property and just try to automatically figure out the number of ticks to show, just like before.

[2015-03-17 20:43] liquidpele commented on #893
Cool!  Will look into this tonight...

[2015-03-17 20:48] liquidpele commented on #895
I'm confused why your commit broke that...

[2015-03-17 20:49] RenatoUtsch commented on #895
That may be a good idea, but why not implement the original functionality in axis.ticks() and allow it to be overriden?

[2015-03-17 20:51] robinfhu commented on #895
I need to look at it in more detail, but I have a theory @liquidpele as to why my change broke it.

The zoom behavior must trigger a window.resize event, which in turn triggers a chart.update().  On subsequent update cycles, axis.ticks() is NON-null, and so it retains its original value.

@RenatoUtsch  If you zoom in and then refresh the page, the ticks magically auto size correctly.

[2015-03-17 20:52] RenatoUtsch commented on #893
Okay, I'll see what I can discover also...

[2015-03-17 20:53] RenatoUtsch commented on #895
It makes sense. Then the ticks are not being recalculated by chart.update()?

[2015-03-17 20:54] liquidpele commented on #895
Ah, it probably inherits ticks() from d3 I bet.

[2015-03-17 21:03] robinfhu commented on #895
The ticks are being calculated on the first chart.update, and then that same tick number is being used on each subsequent chart.update().

In the past, the tick number would be recalculated, but I added logic to prevent that (not intentional, I tried to solve #601 )

[2015-03-17 21:46] liquidpele commented on #895
you can probably leave your fix and in axis.js instead of inheriting the ticks function from d3 overwrite it in the nv.models.axis code.

[2015-03-17 21:50] robinfhu commented on #895
nv.models.axis is not inheriting .ticks from d3.svg.axis (unless I misunderstood what you meant)

[2015-03-17 22:08] liquidpele commented on #895
Oh right, nevermind :p

[2015-03-18 01:38] liquidpele commented on #893
The scatter chart seems to mess up when it does a chart.update() ... works fine for me with pure nvd3 though... are you doing somethign to the data object passed or something?

The pie chart showing NaN is a big bug, good catch!  I'm not using the x() and y() functions to propery get the x and y values in that chart.. probably others too... will have to fix that.

The pie chart tooltip issue seems

[2015-03-18 01:43] RenatoUtsch commented on #893
Tomorrow I'll look at the scatter chart, but I don't remember doing anything to it. Yeah, I noticed now that it is a shadow dom only issue.

Thanks for the good work! I'll test everything once you fix the bugs and the tooltip position.

[2015-03-18 22:08] featalion opened #902 "Highlight area between axis values on line chart with focus"
Hi!

I want to add the feature to the `lineWithFocusChart` model (or, better, all line models), which highlights custom intervals. For example, my chart has xAxis values from 0 to 100, and I want to highlight intervals 3 .. 25, and 59 .. 86.

Could you please point me to the right way to realise it. I am kinda new to D3 / NVD3, so, any help will be appreciated. I will make pull request, when compl

[2015-03-18 23:16] liquidpele commented on #902
Sure!  First you need to fork our project on github, then clone your forked git repo.   Follow the directions on our main readme for building and unit tests... this requires understanding of command line.  The source is all under the "src" directory, and when building the final files it puts them into the "build" directory. You can see samples/examples in the "examples" directory by viewing the "s

[2015-03-18 23:39] featalion commented on #902
Thanks for the answer. I have investigated source code of NVD3 some hours today. But, as I said, I am new to D3 library, too. Could you please point me to the basics, that I will need to know to complete the feature. D3 isn't small and it isn't so easy to find right API parts to accomplish the task. Thanks again!

[2015-03-18 23:45] liquidpele commented on #902
https://github.com/mbostock/d3/wiki/Tutorials

[2015-03-19 09:37] Kepro commented on #255
is there some timeline for this? :)

[2015-03-19 11:40] liquidpele commented on #255
technically you can already accomplish this by using a line the line chart actually has a scatter chart on top of it for the points so you can just make a line and hide the lines with CSS and only display the points

[2015-03-19 12:19] amitharjani opened #903 "How Can we remove stacked effect in multibar chart."
I used nvd3 library. But I want to remove 'stacked' effect in multibar chart and want 'grouped' effect by default.

[2015-03-19 13:27] HedCET opened #904 "nvd3 bower have no nv.models.indentedTree()"
i tried also from ur build folder nv.d3.js but fails
```nv.models.indentedTree()``` only available in http://nvd3.org/assets/js/nv.d3.js here only ?

[2015-03-19 13:31] liquidpele commented on #903
chart.stacked(false).showControls(false);

http://nvd3-community.github.io/nvd3/examples/documentation.html#multiBarChart

[2015-03-19 13:33] liquidpele commented on #904
indented tree was removed from the project because it didn't fit with it very well, there are a plethora of indented tree plugins for jquery/angular/etc available online that work far better.

[2015-03-19 13:55] robinfhu commented on #904
Yeah we don't have it anymore.  Found a nice plugin on Google: http://ludo.cubicphuse.nl/jquery-treetable/

[2015-03-19 13:55] #904 closed

[2015-03-19 13:56] #903 closed

[2015-03-19 14:27] Kepro commented on #255
but this is not a solution if i want to use symbols etc...

[2015-03-19 21:58] #902 closed

[2015-03-20 15:44] joepb commented on #884
Not sure if it's related, but it seems to be.

When I resize the svg and fire update() accordingly, the chart seems to resize good. However, as soon as you hover over a slice, the slice goes back to it's original size, not the updated size.

Expected: ![image](https://cloud.githubusercontent.com/assets/5315418/6754966/413193e2-cf20-11e4-965f-a2f13dcecb7e.png)

Got: ![image](https://cloud.githubuse

[2015-03-20 15:47] joneschrisan opened #905 "margin top not working"
Margin top doesn't seem to be working for any chart I have looked at.

Left, right, and bottom how ever are working fine.

[2015-03-20 16:01] liquidpele commented on #905
dupciate of https://github.com/novus/nvd3/issues/515

[2015-03-20 16:01] #905 closed

[2015-03-20 16:06] liquidpele commented on #884
@joepb That's unrelated, alraedy a bug open for it.  Set chart.growOnHover(false) as a work around for that one.

[2015-03-20 16:10] joneschrisan commented on #905
True it's a duplicate of that issue. But that issue has been closed and the issue still exists.

[2015-03-20 16:17] robinfhu commented on #905
I know, I just haven't been able to get to this issue.  This issue is actually really hard to solve, due to all the different ways margin top is used throughout the code.

[2015-03-20 16:17] liquidpele commented on #905
#515 is not closed.

[2015-03-20 17:21] rbsl-jogendra opened #906 "Word wrap when legend name is too long"
If legend name is long in that case legend does not display properly. Is there any way by which we can wrap the legend name text.

[2015-03-20 17:28] liquidpele commented on #906
Hi there, can you provide a jsfiddle that demonstrates the issue?

[2015-03-20 17:29] liquidpele commented on #906
or a screenshot if that's easier, just make sure you're using the latest development branch code!

[2015-03-20 20:52] liquidpele opened #908 "MultiBarHorizontal legend doesn't handle colors correctly."
Regular multibar, notice the legend uses shades of gray:
http://nvd3-community.github.io/nvd3/examples/multiBarChart.html

horz multibar, it uses the default colors instead which is incorrect.
http://nvd3-community.github.io/nvd3/examples/multiBarHorizontalChart.html

[2015-03-20 21:52] joepb commented on #884
I'll give it a try. Thanks.

[2015-03-20 23:22] milimetric commented on #145
The bar timeseries chart was not too useful in my case, but adapting code from the other responses I was able to make the lineWithFocusChart work well:

        chart.lines.xScale(d3.time.scale());
        chart.lines2.xScale(d3.time.scale());

        var timeFormat = d3.time.format('%Y-%m-%d');
        chart.xAxis.tickFormat(timeFormat);
        chart.x2Axis.tickFormat(timeFormat);

That's the o

[2015-03-21 03:39] liquidpele commented on #843
Fixed in the above PR, closing this bug now.

[2015-03-21 03:39] #843 closed

[2015-03-21 04:47] rbsl-jogendra commented on #906
please find attached screenshot
![selection_004](https://cloud.githubusercontent.com/assets/9459742/6763798/852620d4-cfb3-11e4-9331-fca6af4764a1.png)

[2015-03-21 13:02] liquidpele commented on #906
What do you think the proper thing to do is in this case?

[2015-03-21 15:11] robinfhu commented on #906
scrollbars.

[2015-03-21 16:02] liquidpele commented on #906
can you do scroll bars within an SVG?

[2015-03-21 22:13] robinfhu commented on #906
i don't know, but for this situation the only solution is for the user to truncate their label.

[2015-03-21 22:13] #906 closed

[2015-03-22 17:06] guykatz opened #910 "compass chart?"
Hi;
is there a way to achieve a chart similar to this with nvd3?
http://jsfiddle.net/jlbriggs/eu9rV/3/
thanks!

[2015-03-22 17:36] robinfhu commented on #910
Not with NVD3, no.  You need to use raw D3, create the SVG elements individually, transform them using trigonometry and add animations.

[2015-03-22 17:36] #910 closed

[2015-03-22 22:06] RenatoUtsch commented on #893
All the charts that I test, except for the discrete bar chart, are properly working now. The NaN values of all other charts were fixed.

Also, it seems the bug where the scatter chart tooltip disappears was fixed as well, maybe it was related to the getter and setter functions?

The only problem remaining is the tooltip positioning that gets wrong sometimes (and the discrete bar chart).

[2015-03-23 02:37] liquidpele commented on #893
You discrete bar chart works fine for me, what is the issue exactly?

I'm looking at this:  http://renatoutsch.com.br/bower_components/polynvd3/nvd3-discrete-bar-chart/demo.html

[2015-03-23 02:43] liquidpele commented on #893
Just FYI, your scatter plot example still seems broken to me.  I'm using chrome. To reproduce:
1. resize the browser window
2. try to hover over some points, some points are ignored and others display the wrong data?
3. disable a single color (re-enable if you want)
4. Now it all works again

Something funky going on there... resizing the browser works fine in the nvd3 scatter example in our repo

[2015-03-23 12:59] liquidpele commented on #893
ok I can't see any more issues can you test again and give me a demo of any further issues?

[2015-03-23 13:51] RenatoUtsch commented on #893
@liquidpele The scatter chart is indeed with problems when resizing. Maybe the points aren't getting recalculated after the resize because of some issue with the shadow dom.

Look at the second discrete bar chart example:
![screen shot 2015-03-23 at 10 49 43 am](https://cloud.githubusercontent.com/assets/836333/6781159/3c78e824-d14a-11e4-9575-66b565a488a4.png)

I remember that this example forced

[2015-03-23 13:52] RenatoUtsch commented on #893
Oh, and the issue with the tooltip positioning is fixed now. Thanks.

When will a recompilation be done in the development branch? Because I have to download the repo instead of using bower and checking out development.

[2015-03-23 14:50] arvindsrivathsanr commented on #170
Any update/fix for this??? Isn't there something like- transition?

[2015-03-23 16:30] liquidpele commented on #170
@arvindsrivathsanr does the nv.render.queue = [] workaround not work for you?  What is your goal here?    In most cases you just need to update the data object you passed into the chart and then call chart.update() to update the chart.

[2015-03-24 02:10] liquidpele commented on #893
@RenatoUtsch I think that should fix your discretebar chart, let me know.

[2015-03-24 02:15] #908 closed

[2015-03-24 09:29] joneschrisan opened #914 "Feature: Scatter Plot over a map"
It would be nice to have the ability to have a scatter plot style chart over a map to show location information. For example a good use would be, hits on a site and the amount of hits per location per user / ip etc.

If this already exists then there is no documentation for it right now.

[2015-03-24 11:56] liquidpele commented on #914
well you could certainly hover the nvd3 chart over a picture or other SVG of a map and it would probably work just fine considering that latitude and longitude are coordinates

[2015-03-24 13:47] robinfhu commented on #914
NVD3 doesn't have this ability natively.  I've played around with D3 map projections before and they are not too difficult to figure out.  Checkout this one:

http://bl.ocks.org/mbostock/4090848

[2015-03-24 13:47] #914 closed

[2015-03-24 13:47] robinfhu commented on #914
More: https://github.com/mbostock/d3/wiki/Geo-Projections

[2015-03-25 17:40] liquidpele commented on #893
ping.  any further issues?

[2015-03-25 18:06] RenatoUtsch commented on #893
The scatter chart has the tooltips buggy when resizing, as you noticed. And this doesn't happen with any other charts. Need to dig deeper to know why.

One thing that would be interesting is adding a import.html file in nvd3's root that includes the nvd3.min.js script file, because I am kind of having conflicts. I'll make a pull request and explain it there.

[2015-03-25 18:06] RenatoUtsch commented on #893
I thought I commented that the discrete bar chart was fixed, thanks.

[2015-03-25 19:27] RenatoUtsch commented on #895
So, any updates on this?